﻿@model WMRP.Service.Dto.DashboardViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";


}

<style>
    #chartdiv, #stockdiv {
        width: 100%;
        height: 500px;
    }

    #orderWiseModeldiv {
        width: 100%;
        height: 200px;
    }

    #pieModeldiv {
        width: 100%;
        height: 300px;
    }
</style>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" href="~/Forecast/Index/0">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup">@Html.DisplayFor(m => m.DraftCount)</span>
                </div>
                <div class="desc"> Drafted Manufacturing Order </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="~/Forecast/Index/1">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup">@Html.DisplayFor(m => m.SubmitCount)</span>
                </div>
                <div class="desc">Submitted Manufacturing Order</div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 green" href="~/Forecast/Index/2">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup">@Html.DisplayFor(m => m.CheckeCount)</span>
                </div>
                <div class="desc"> Checked Manufacturing Order </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 purple" href="~/Forecast/Index/3">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup">@Html.DisplayFor(m => m.ApprovedCount)</span>
                </div>
                <div class="desc">Approved Manufacturing Order</div>
            </div>
        </a>
    </div>

</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">

                <div class="caption">
                    <span class="caption-subject bold uppercase font-dark">workstations</span>
                    <span class="caption-helper">stats...</span>
                </div>

                <div class="actions">

                    @*<a class="btn btn-circle btn-icon-only btn-default" href="#">
                            <i class="icon-cloud-upload"></i>
                        </a>*@
                    @*<a class="btn btn-circle btn-icon-only btn-default" href="#">
                            <i class="icon-wrench"></i>
                        </a>*@

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Select
                            <span class="caret"></span>
                        </button>
                        @*<a class="btn btn-circle btn-icon-only btn-default" data-toggle="dropdown" href="#">
                                <i class="icon-wrench"></i>
                            </a>*@
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="ChangeChartData(this);">Daily</a></li>
                            <li><a href="#" onclick="ChangeChartData(this);">Weekly</a></li>
                            <li><a href="#" onclick="ChangeChartData(this);">Monthly</a></li>
                        </ul>
                    </div>

                    @*<a class="btn btn-circle btn-icon-only btn-default" href="#">
                            <i class="icon-trash"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"> </a>*@
                </div>
            </div>
            <div class="portlet-body">
                <div id="chartdiv"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">

                <div class="caption">
                    <span class="caption-subject bold uppercase font-dark">Model-BOM</span>
                    <span class="caption-helper">stats...</span>
                </div>

                <div class="actions">

                    @*<a class="btn btn-circle btn-icon-only btn-default" href="#">
                            <i class="icon-cloud-upload"></i>
                        </a>*@
                    @*<a class="btn btn-circle btn-icon-only btn-default" href="#">
                            <i class="icon-wrench"></i>
                        </a>*@

                    @*<div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Select
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="ChangeChartData(this);">Daily</a></li>
                                <li><a href="#" onclick="ChangeChartData(this);">Weekly</a></li>
                                <li><a href="#" onclick="ChangeChartData(this);">Monthly</a></li>
                            </ul>
                        </div>*@

                    @*<a class="btn btn-circle btn-icon-only btn-default" href="#">
                            <i class="icon-trash"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"> </a>*@
                </div>
            </div>
            <div class="portlet-body">
                <div id="orderWiseModeldiv"></div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<!-- END DASHBOARD STATS 1-->
<div class="row">
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">model-estimated order</span>
                    <span class="caption-helper">stats...</span>
                </div>
                @*<div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <label class="btn red btn-outline btn-circle btn-sm active">
                                <input type="radio" name="options" class="toggle" id="option1">New
                            </label>
                            <label class="btn red btn-outline btn-circle btn-sm">
                                <input type="radio" name="options" class="toggle" id="option2">Returning
                            </label>
                        </div>
                    </div>*@
            </div>
            <div class="portlet-body">

                <div id="pieModeldiv"></div>

            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-md-6 col-sm-6" style="display: none">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">raw material stock</span>
                    <span class="caption-helper">stats...</span>
                </div>
                @*<div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <label class="btn red btn-outline btn-circle btn-sm active">
                                <input type="radio" name="options" class="toggle" id="option1">New
                            </label>
                            <label class="btn red btn-outline btn-circle btn-sm">
                                <input type="radio" name="options" class="toggle" id="option2">Returning
                            </label>
                        </div>
                    </div>*@
            </div>
            <div class="portlet-body">

                @*<div id="site_statistics_loading">
                        <img src="../assets/global/img/loading.gif" alt="loading" />
                    </div>
                    <div id="site_statistics_content" class="display-none">
                        <div id="site_statistics" class="chart"> </div>
                    </div>*@
                <div id="stockdiv"></div>

            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>



@*@Scripts.Render("~/bundles/amChartJS")*@

@section scripts
{
    @*<script src="https://www.amcharts.com/lib/4/core.js"></script>
        <script src="https://www.amcharts.com/lib/4/charts.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>*@

    <script src="~/Scripts/am_core.js"></script>
    <script src="~/Scripts/am_charts.js"></script>
    <script src="~/Scripts/am_animated.js"></script>

    <script>

        var columnChartData = [];
        var hourlycolumnChartData = [];
        var clusteredChartData = [];
        var pieModelChartData = [];
        var lineChartData = [];

        var innerValue = 'Hourly';
        $(document).ready(function () {

            getChartData();
            getClusteredChartData();
            getPieModelChartData();
            getModelBomStockData();

        });

        am4core.useTheme(am4themes_animated);

        //Estimated Workstation Capacity
        var getChartData = function () {
            $.ajax({
                url: '@Url.Action("GetWorkstationCapacity", "Dashboard")',
                type: 'GET',
                contentType: 'application/json',
                success: function (result) {
                    var dataset = [];
                    $.each(result, function (key, value) {
                        var item = {};
                        item.workstation = value.WorkStationName;
                        item.visits = value.WorkStationTotalCapacity;
                        dataset.push(item);
                    });

                    hourlycolumnChartData = JSON.parse(JSON.stringify(dataset));
                    columnChartData = hourlycolumnChartData;
                    LoadChart(columnChartData);
                }
            });

        };

        var ChangeChartData = function (e) {

            innerValue = e.innerHTML;

            if (innerValue == 'Daily') {
                var dailyChartData = [];
                $.each(hourlycolumnChartData, function (key, value) {
                    //debugger;
                    var item = {};
                    item.workstation = value.workstation;
                    item.visits = parseInt(value.visits) * 9;
                    dailyChartData.push(item);
                });
                columnChartData = JSON.parse(JSON.stringify(dailyChartData));
                console.log(columnChartData);
                LoadChart(columnChartData);
                //alert('daily');
            } else if (innerValue == 'Weekly') {
                var weeklyChartData = [];
                $.each(hourlycolumnChartData, function (key, value) {
                    //debugger;
                    var item = {};
                    item.workstation = value.workstation;
                    item.visits = parseInt(value.visits) * 54;
                    weeklyChartData.push(item);
                });
                columnChartData = JSON.parse(JSON.stringify(weeklyChartData));
                console.log(columnChartData);
                LoadChart(columnChartData);
                //alert('daily');
            } else if (innerValue == 'Monthly') {
                var monthlyChartData = [];
                $.each(hourlycolumnChartData, function (key, value) {
                    //debugger;
                    var item = {};
                    item.workstation = value.workstation;
                    item.visits = parseInt(value.visits) * 234;
                    monthlyChartData.push(item);
                });
                columnChartData = JSON.parse(JSON.stringify(monthlyChartData));
                console.log(columnChartData);
                LoadChart(columnChartData);
                //alert('daily');
            }
        };

        var getClusteredChartData = function () {
            debugger
            $.ajax({
                url: '@Url.Action("GetModelPartsType", "Dashboard")',
                type: 'GET',
                contentType: 'application/json',
                success: function (result) {
                    var dataset = [];
                    //debugger;
                    $.each(result, function (key, value) {
                        var item = {};
                        item.income = value.Ckd;
                        item.expenses = value.Skd;
                        item.year = value.ModelName;

                        dataset.push(item);
                    });
                    //debugger;
                    clusteredChartData = JSON.parse(JSON.stringify(dataset));
                    loadClusteredChart(clusteredChartData);
                }
            });

        };

        var getPieModelChartData = function () {
            $.ajax({
                url: '@Url.Action("getAllOrders", "Forecast")',
                type: 'GET',
                contentType: 'application/json',
                success: function (result) {
                    var dataset = [];

                    $.each(result, function (key, value) {
                        var item = {};
                        //debugger;
                        if (value.ProductModelName === "") {

                            item.model = value.PackageName;
                        } else {

                            item.model = value.ProductModelName;
                        }

                        item.litres = value.ExpectedProductionVolume;

                        dataset.push(item);
                    });
                    //debugger;
                    pieModelChartData = JSON.parse(JSON.stringify(dataset));
                    loadPieChart(pieModelChartData);
                }
            });
        };

        var getModelBomStockData = function () {
            $.ajax({
                url: '@Url.Action("GetModelBomStock", "Dashboard")',
                type: 'GET',
                contentType: 'application/json',
                success: function (result) {
                    var dataset = [];

                    $.each(result, function (key, value) {
                        var item = {};
                        debugger;
                        item.date = value.FormatedAddedDate;
                        item.amount = value.StockAmount;
                        item.model = value.ModelName;
                        dataset.push(item);
                    });
                    debugger;
                    lineChartData = JSON.parse(JSON.stringify(dataset));
                    loadLineChart(lineChartData);
                }
            });
        };

        var LoadChart = function (data) {

            // Create chart instance
            var chart = am4core.create("chartdiv", am4charts.XYChart3D);

            chart.data = data,
            //chart.step = 200;
            chart.max = 2000;
            // Create axes
            let
            categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "workstation";
            categoryAxis.title.text = "Workstations";
            categoryAxis.title.fontWeight = "bold";
            categoryAxis.renderer.labels.template.rotation = 270;
            categoryAxis.renderer.labels.template.hideOversized = false;
            categoryAxis.renderer.minGridDistance = 20;
            categoryAxis.renderer.labels.template.horizontalCenter = "right";
            categoryAxis.renderer.labels.template.verticalCenter = "middle";
            categoryAxis.tooltip.label.rotation = 270;
            categoryAxis.tooltip.label.horizontalCenter = "right";
            categoryAxis.tooltip.label.verticalCenter = "middle";

            let
            valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            valueAxis.title.text = "Estimated Capacity" + "(" + innerValue + ")";
            valueAxis.title.fontWeight = "bold";
            //valueAxis.renderer.minGridDistance = 1;
            valueAxis.renderer.max = 2000;

            // Create series
            var series = chart.series.push(new am4charts.ColumnSeries3D());
            series.dataFields.valueY = "visits";
            series.dataFields.categoryX = "workstation";
            series.name = "Visits";
            series.tooltipText = "{categoryX}: [bold]{valueY}[/]";
            series.columns.template.fillOpacity = .8;

            var columnTemplate = series.columns.template;
            columnTemplate.strokeWidth = 2;
            columnTemplate.strokeOpacity = 1;
            columnTemplate.stroke = am4core.color("#FFFFFF");

            chart.cursor = new am4charts.XYCursor();
            chart.cursor.lineX.strokeOpacity = 0;
            chart.cursor.lineY.strokeOpacity = 0;

        };

        //Order-Model Clustered Chart
        var loadClusteredChart = function (data) {
            var chart = am4core.create("orderWiseModeldiv", am4charts.XYChart);

            // Add data
            chart.data = data;

            // Create axes
            var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "year";
            categoryAxis.numberFormatter.numberFormat = "#";
            categoryAxis.renderer.inversed = true;
            categoryAxis.renderer.grid.template.location = 0;
            categoryAxis.renderer.cellStartLocation = 0.1;
            categoryAxis.renderer.cellEndLocation = 0.9;

            var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
            valueAxis.renderer.opposite = true;

            // Create series

            function createSeries(field, name) {
                var series = chart.series.push(new am4charts.ColumnSeries());
                series.dataFields.valueX = field;
                series.dataFields.categoryY = "year";
                series.name = name;
                series.columns.template.tooltipText = "{name}: [bold]{valueX}[/]";
                series.columns.template.height = am4core.percent(100);
                series.sequencedInterpolation = true;

                var valueLabel = series.bullets.push(new am4charts.LabelBullet());
                valueLabel.label.text = "{valueX}";
                valueLabel.label.horizontalCenter = "left";
                valueLabel.label.dx = 10;
                valueLabel.label.hideOversized = false;
                valueLabel.label.truncate = false;

                var categoryLabel = series.bullets.push(new am4charts.LabelBullet());
                categoryLabel.label.text = "{name}";
                categoryLabel.label.horizontalCenter = "right";
                categoryLabel.label.dx = -10;
                categoryLabel.label.fill = am4core.color("#fff");
                categoryLabel.label.hideOversized = false;
                categoryLabel.label.truncate = false;
            }

            createSeries("income", "CKD");
            createSeries("expenses", "SKD");
        };


        //Model-Expected Production Volume Pie Chart
        var loadPieChart = function (data) {

            var pieChart = am4core.create("pieModeldiv", am4charts.PieChart3D);
            pieChart.hiddenState.properties.opacity = 0;

            pieChart.legend = new am4charts.Legend();

            pieChart.data = data;

            var series = pieChart.series.push(new am4charts.PieSeries3D());
            series.dataFields.value = "litres";
            series.dataFields.category = "model";
        };

        //model-stock-chart

        var loadLineChart = function (data) {

            var lineChart = am4core.create("stockdiv", am4charts.XYChart);

            // Add data
            lineChart.data = data;

            // Create axes
            var dateAxis = lineChart.xAxes.push(new am4charts.DateAxis());
            dateAxis.renderer.minGridDistance = 50;

            var stockValueAxis = lineChart.yAxes.push(new am4charts.ValueAxis());

            // Create series
            var lineSeries = lineChart.series.push(new am4charts.LineSeries());
            lineSeries.dataFields.valueY = "amount";
            lineSeries.dataFields.dateX = "date";
            lineSeries.strokeWidth = 2;
            lineSeries.minBulletDistance = 10;
            //lineSeries.tooltipText = "{valueY}";

            lineSeries.tooltipHTML = '<center><strong>Date:{date}</strong></center> <hr/> <table> <tr> <th align="left">Model: </th> <td>{model}</td></tr><tr> <th align="left">Amount: </th> <td>{amount}</td></tr></table> <hr/>';





            lineSeries.tooltip.pointerOrientation = "vertical";
            lineSeries.tooltip.background.cornerRadius = 20;
            lineSeries.tooltip.background.fillOpacity = 0.5;
            lineSeries.tooltip.label.padding(12, 12, 12, 12);

            // Add scrollbar
            lineChart.scrollbarX = new am4charts.XYChartScrollbar();
            lineChart.scrollbarX.series.push(lineSeries);

            // Add cursor
            lineChart.cursor = new am4charts.XYCursor();
            lineChart.cursor.xAxis = dateAxis;
            lineChart.cursor.snapToSeries = lineSeries;

            //function generateChartData() {
            //    var chartData = [];
            //    var firstDate = new Date();
            //    firstDate.setDate(firstDate.getDate() - 100);
            //    var amount = 1200;
            //    for (var i = 0; i < 500; i++) {
            //        // we create date objects here. In your data, you can have date strings
            //        // and then set format of your dates using chart.dataDateFormat property,
            //        // however when possible, use date objects, as this will speed up chart rendering.
            //        var newDate = new Date(firstDate);
            //        newDate.setDate(newDate.getDate() + i);

            //        amount += Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 10);

            //        chartData.push({
            //            date: newDate,
            //            amount: amount
            //        });
            //    }
            //    return chartData;
            //}
        };




    </script>
}
