﻿@{
    ViewBag.Title = "AddProductPart";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<script src="~/Scripts/angular.js"></script>
<script src="~/ViewScript/ProductBOM.js"></script>

<div class="row" ng-app="WMRP">
    <div ng-controller="ProductBOMCtrl" ng-init="GetAllLoadedData()">
        <div class="col-md-5">
            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-green"></i>
                        <span class="caption-subject font-green sbold uppercase">WMRP - Add Product BOM </span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-cloud-upload"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-wrench"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-trash"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <!-- BEGIN FORM-->

                    <form class="form-horizontal">
                        <div class="form-body">

                            <div class="form-group form-md-line-input has-success">
                                <label class="control-label col-md-3">Model</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" keyboard-poster post-function="searchItem" ng-model="ModelId" ng-change="LoadBOMByModel()" name="first_name" placeholder="Type a model" list="_items" />
                                    <datalist id="_items">
                                        <select style="display: none;" id="_select" name="_select" ng-model="ModelId" ng-options="k for (k,v) in artists track by k"></select>
                                    </datalist>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input has-error">
                                <label class="col-md-3 control-label" for="form_control_1">Part Name:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="Part name" ng-model="PartName" />

                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">Enter Part Name...</span>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input has-error">
                                <label class="col-md-3 control-label" for="form_control_1">Component Code:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="Component Code" ng-model="PartCode" />

                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">Enter Component Code...</span>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input has-success">
                                <label class="col-md-3 control-label">Part Type:</label>
                                <div class="col-md-9">
                                    <select class="form-control" ng-model="PartTypeId" ng-options='option.ID as option.Name for option in Types'>
                                        <option value="">Please Select</option>
                                    </select>
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">Select Part Type...</span>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input has-error">
                                <label class="col-md-3 control-label" for="form_control_1">Dimension:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="Enter Dimension" ng-model="PartDimension" />
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">Enter Dimension...</span>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input has-error">
                                <label class="col-md-3 control-label" for="form_control_1">Value:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="Enter Value" ng-model="PartValue" />

                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">Enter Value...</span>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input has-success">
                                <label class="col-md-3 control-label">Manufacturer:</label>
                                <div class="col-md-9">
                                    <select class="form-control" ng-model="ManufacturerId" ng-options='option.ID as option.Name for option in Manufacturers'>
                                        <option value="">Please Select</option>
                                    </select>
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">Select Manufacturer...</span>
                                </div>
                            </div>

                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    @*<input type="button" id="btnSave" class="btn green" value="Submit"  />*@
                                    @*<a class="btn btn-outline dark" ng-click="AddParts()" data-target="#responsive" data-toggle="modal"> Add </a>*@
                                    <a class="btn btn-outline dark" ng-click="AddParts()"> Add </a>
                                    @*<button type="submit" class="btn green" value="Submit" >Submit</button>*@

                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- static -->

                    <div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">Confirm Save</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="scroller" style="height:500px" data-always-visible="1" data-rail-visible1="1">
                                        <div class="row">
                                            <div class="col-md-12">

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="Reset()">Close</button>
                                    <button type="button" class="btn green" data-dismiss="modal" ng-click="InsertData()">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="successModal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" data-attention-animation="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p id="successModalText"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn green">Continue</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <!-- END FORM-->

                        </div>
                    </div>
                    <!-- END VALIDATION STATES-->
                    @Html.Hidden("PartID_")
                </div>
            </div>

        </div>
        <div class="col-md-7">
            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-green"></i>
                        <span class="caption-subject font-green sbold uppercase">BOM-List</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-cloud-upload"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-wrench"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-trash"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <!-- BEGIN FORM-->

                    <table class="table table-striped table-bordered table-hover" @*ng-table="BOMTable"*@>
                        <thead>
                            <tr>
                                <th> Model Name </th>
                                <th> Name </th>
                                <th> Type </th>
                                <th> Value </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr class="odd gradeX" ng-repeat="Item in ProductParts">

                                <td>
                                    <input type="hidden" ng-model="ID"/>
                                    {{Item.ProductModelName}}

                                </td>
                                <td>
                                    {{Item.Name}}

                                </td>
                                <td>
                                    <select class="form-control" ng-model="Item.PartsType" ng-options='option.ID as option.Name for option in Types' disabled="">
                                        @*<option value="">Please Select</option>*@
                                    </select>
                                </td>
                                <td>
                                    {{Item.Value}}

                                </td>
                               
                            </tr>

                        </tbody>
                    </table>
                    
                    <button type="button" class="btn green" data-dismiss="modal" ng-click="InsertData()">Save changes</button>
                    <!-- static -->

                    <div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">Confirm Save</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="scroller" style="height:500px" data-always-visible="1" data-rail-visible1="1">
                                        <div class="row">
                                            <div class="col-md-12">

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="Reset()">Close</button>
                                    <button type="button" class="btn green" data-dismiss="modal" ng-click="InsertData()">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="successModal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" data-attention-animation="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p id="successModalText"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn green">Continue</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <!-- END FORM-->

                        </div>
                    </div>
                    <!-- END VALIDATION STATES-->
                    @Html.Hidden("PartID_")
                </div>
            </div>

        </div>
    </div>
</div>

