﻿
@{
    ViewBag.Title = "BomUploader";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<section class="content">
    <div class="row">
        <!-- left column -->
        <form class="form-horizontal" action="/ProductPart/BomUploader" method="post" role="form" enctype="multipart/form-data">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            <div class="col-md-12">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Upload BOM File</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Excel File</label>
                            <div class="col-sm-9">
                                <input name="bomFile" type="file" placeholder="Upload Excel File" />
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="submit" value="Submit" class="btn btn-info pull-left" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>