﻿@model List<WMRP.Service.Dto.ProductPartViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Product Parts</span>
                </div>
                @*<div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                            <input type="radio" name="options" class="toggle" id="option1">Actions
                        </label>
                        <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Settings
                        </label>
                    </div>
                    
                    <button onclick="printData()">Click me</button>
                </div>*@
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                @*<button id="sample_editable_1_new" class="btn sbold green" onclick="window.location.href('@Url.Action("AddProduct","Product")')">
                                        Add New Product
                                        <i class="fa fa-plus"></i>
                                    </button>*@

                                @*<input type="button" id="sample_editable_1_new" class="btn sbold green" value="Add New Product" onclick="window.location.href('@Url.Action("AddProduct","Product")')"  />*@
                                <a href="@Url.Action("UpdateFromOracle", "ProductPart")">
                                    <i class="fa fa-plus"></i> Update Product Part
                                </a>
                            </div>
                        </div>
                        @*<div class="col-md-6">
                            <div class="btn-group pull-right">
                                <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">
                                    Tools
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-print"></i> Print
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-pdf-o"></i> Save as PDF
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-excel-o"></i> Export to Excel
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>*@
                    </div>
                </div>

                <input type="hidden" id="hiddenProductPartId" />

                <table id="bomTable" class="table table-striped table-bordered table-hover dt-responsive table-checkable order-column">
                    <thead>
                        <tr>
                            @*<th>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                    <span></span>
                                </label>
                            </th>*@
                            <th> Name </th>
                            @*<th> Code </th>*@
                            <th> Description </th>
                            <th> Product For </th>
                            <th> Required Quantity </th>
                            @*<th> Available Quantity </th>*@
                            @*<th> Dimension </th>*@
                            <th> Manufacturer</th>
                            <th> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                          
                                @*<td>
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" value="1" />
                                        <span></span>
                                    </label>
                                </td>*@
                                <td>
                                    @{
                                        if (item.Name == "PCB")
                                        {
                                            @*<a href="@Url.Action("GetChild", "ProductPart", new { id = item.ID }, null)">
                                                @Html.DisplayFor(m => item.Name)
                                            </a>*@
                                            @*<a data-toggle="modal" href="#myModal">
                                                @Html.DisplayFor(m => item.Name)
                                            </a>*@
                                        <a onclick="showModal('@item.ID.ToString()')">
                                            @Html.DisplayFor(m => item.Name)
                                        </a>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(m => item.Name)
                                        }
                                             
                                    }
                                  
                                </td>
                                @*<td>
                                    @Html.DisplayFor(m => item.YwxPartNo)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(m => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.ProductModelName)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.RequiredQty)
                                </td>
                                @*<td>
                                    0
                                </td>*@
                                @*<td>
                            @Html.DisplayFor(m => item.Dimention)
                        </td>*@
                                <td>
                                    @Html.DisplayFor(m => item.ManufacturerName)
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                            Actions
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>

                                                <a href="@Url.Action("AddProductPart", "ProductPart", new { id = item.ID }, null)">
                                                    <i class="icon-docs"></i> Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" onclick="ConfirmDelete('@item.ID.ToString()')">
                                                    <i class="icon-tag"></i> Delete
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1"  data-width="760">

    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"> Product</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        @*<h4>Are you sure  You want to delete this? </h4>
            <input type="hidden" id="id" name="id" value="" />*@
        
        <table class="table table-striped table-bordered table-hover dt-responsive table-checkable order-column" id="modalTable">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Description </th>
                    <th> Product For </th>
                    <th> Required Quantity </th>
                    <th> Manufacturer</th>
                    @*<th> Actions </th>*@
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
        @*<a href="#" class="btn btn-success" onclick="DeleteProduct()">Confirm</a>*@
    </div>

</div>
@section scripts
{
       <script type="text/javascript">

        $(document).ready(function () {
            $('#bomTable').DataTable();
            

        });
        function showModal(id) {
            
            $.ajax({
                url: "/ProductPart/GetChild",
                contentType: "application/html; charset=utf-8",
                type: "GET",
                data: { id: id },
                cache: !0,
                datatype: "json",
                success: function(tableData) {
                    debugger;
                    var tablebody='';
                   
                    $.each(tableData, function (j, e) {
                        var row = '<tr>';
                        row += '<td>' + e.Name + '</td>';
                        row += '<td>' + e.Description + '</td>';
                        row += '<td>' + e.ProductModelName + '</td>';
                        row += '<td>' + e.RequiredQty + '</td>';
                        row += '<td>' + e.ManufacturerName + '</td>';
                        row += '</tr>';
                        tablebody += row;
                    });
                   
                    $("#modalTable tbody").html(tablebody);
                    $('#modalTable').DataTable();
                    $('#myModal').modal('show');

                },
                error: function() {
                    alert('Failed');
                }
            });
        }
        function printData() {
            var mywindow = window.open('');
            var divToPrint = document.getElementById("bomTable");
            var htmlToPrint = '' +
                '<style type="text/css">' +
                'body {' +
                'margin:5%;' +
                '}' +
                'h3{' +
                'text-align: center;' +
                'text-decoration: underline;' +
                '}' +
                'h1{' +
                'font-size:15px;' +
                'font-weight:bold;' +
                '}' +
                'h4{' +
                'font-size:15px;' +
                'font-weight:bold;' +
                '}' +
                'table {' +
                'font-family: arial, sans-serif;' +
                'border-collapse: collapse;' +
                'width: 100%;' +
                '}' +
                'table th, table td {' +
                'border: 1px solid #dddddd;' +
                'text-align: center;' +
                'font-size: 10px;' +
                '}' +
                '</style>';
            mywindow.document.write(htmlToPrint);
            mywindow.document.write(divToPrint.outerHTML);
            mywindow.document.close();
            mywindow.print();
            return true;
        };
        
        function GetProductList() {
            $.ajax({
                type: "GET",
                url: "/Product/Index",
                success: function (data) {

                    alert('Successfully Loaded product list');
                },
                error: function () {
                    alert('Failed to delete');
                }
            })
        }
        function ConfirmDelete(id) {
            $("#hiddenProductPartId").val(id);
            $('#myModal').modal('show');
        }

        function DeleteProduct() {

            var productPartId = $("#hiddenProductPartId").val();

            $.ajax({
                type: "POST",
                url: "/ProductPart/DeleteProductPart",
                data: { id: productPartId },
                success: function() {
                    $("#myModal").modal('hide');

                    location.reload();

                },
                error: function() {
                    alert('Fail to delete');
                }
            });
        }
</script> 
}
