﻿@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/checklist-model.js"></script>
<script src="~/ViewScript/ForeCast.js"></script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script type="text/javascript">

    am4core.useTheme(am4themes_material);
    am4core.useTheme(am4themes_animated);
    // Themes end

</script>

<div ng-app="WMRP">
    <div ng-controller="MOrderCtrl as vm" ng-init="GetAllInitializations()">

        <div class="row">
            <div class="col-md-12">

                <div class="tabbable-line boxless tabbable-reversed">
                    <ul class="nav nav-tabs nav-justified" role="tablist" style="background-color:#F8F8F8;">
                        <li class="active"><a href="#Basic" role="tab" data-toggle="tab"><span><i class="icon-info font-dark"></i></span> Basic <br />Information</a></li>
                        <li><a href="#BOM" role="tab" data-toggle="tab"><span><i class="icon-paper-clip font-dark"></i></span> BOM <br />Information</a></li>
                        <li><a href="#Process" role="tab" data-toggle="tab"><span><i class="icon-settings font-dark"></i></span> Process <br />Information</a></li>
                        <li><a href="#Decision" role="tab" data-toggle="tab"><span><i class="icon-briefcase font-dark"></i></span> Final <br />Decision</a></li>
                    </ul>

                    <div class="tab-content">
                        <!-- BEGIN Basic Form PORTLET-->
                        <div class="tab-pane fade active in" id="Basic">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i>Manufacture Order
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->
                                    <form name="form1" class="form-horizontal" novalidate>
                                        <div class="form-body">
                                            @*<h3 class="form-section">Person Info</h3>*@
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group" ng-class="( form1.title.$error.required && !form1.title.$pristine ? 'has-error' : '' )">
                                                        <label class="control-label col-md-3">Order Title</label>
                                                        <div class="col-md-9">
                                                            <input type="text" name="title" class="form-control" ng-model="Title" placeholder="January 2019" required>
                                                            <span ng-hide="form1.title.$error.required && !form1.title.$pristine" class="help-block"> Name of the order </span>
                                                            <span ng-show="form1.title.$error.required && !form1.title.$pristine" class="help-block"> Order Name required </span>

                                                            <input hidden ng-model="BGColor" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">

                                                    <div class="form-group" ng-class="( form1.productionvolume.$error.required ? 'has-error' : '' )">
                                                        <label class="control-label col-md-3">Order Quantity</label>
                                                        <div class="col-md-9">
                                                            <input type="number" name="productionvolume" class="form-control" ng-model="ExpectedProductionVolume" placeholder="1000" required>
                                                            <span ng-hide="form1.productionvolume.$error.required " class="help-block"> Please Enter Order Quantity </span>
                                                            <span ng-show="form1.productionvolume.$error.required " class="help-block"> Order Quantity required </span>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!--/span-->
                                            </div>

                                            <!--/row-->
                                            <div class="row">

                                                <div class="col-md-6">


                                                    <div class="form-group" ng-class="( form1.startdate.$error.required && !form1.startdate.$pristine? 'has-error' : '' )">
                                                        <label class="control-label col-md-3">Expected Start Date</label>
                                                        <div class="col-md-9">

                                                            <div class="input-group">
                                                                <input type="text" name="startdate" ng-model="ExpectedStartDate" class="form-control" data-date-format="dd/mm/yyyy" required date-picker>
                                                                <span class="input-group-btn">
                                                                    <button class="btn default" type="button">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                            <span ng-hide="form1.startdate.$error.required && !form1.startdate.$pristine" class="help-block"> Please Select a Date </span>
                                                            <span ng-show="form1.startdate.$error.required && !form1.startdate.$pristine" class="help-block"> Start Date required </span>
                                                        </div>
                                                    </div>


                                                </div>


                                                <!--/span-->
                                                <div class="col-md-6">

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Expected End Date</label>
                                                        <div class="col-md-9">


                                                            <div class="input-group">
                                                                <input type="text" ng-model="ExpectedEndDate" class="form-control" data-date-format="dd/mm/yyyy" date-picker>

                                                                <span class="input-group-btn">
                                                                    <button class="btn default" type="button">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                            <!-- /input-group -->
                                                            <span class="help-block"> Please Select a Date </span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group" ng-class="( form1.manufacturetype.$error.required ? 'has-error' : '' )">
                                                        <label class="control-label col-md-3">Manufacture Type </label>
                                                        <div class="col-md-9">
                                                            <select class="form-control" name="manufacturetype" ng-model="ManufactureType" aria-label="Toggle ngHide" ng-change="ProductVisibility(ManufactureType)" ng-options='option.ID as option.Name for option in ManufactureTypes' required>
                                                                <option value="">Please Select</option>
                                                            </select>
                                                            <span ng-hide="form1.manufacturetype.$error.required" class="help-block"> Select Type </span>
                                                            <span ng-show="form1.manufacturetype.$error.required" class="help-block"> Type required </span>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" ng-show="ProductVisible">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Package</label>
                                                        <div class="col-md-9">
                                                            <select class="form-control" ng-model="PackageID" ng-change="GetPackageProducts()" ng-options='option.ID as option.PackageName for option in Packages'>
                                                                <option value="">Please Select</option>
                                                            </select>
                                                            <span class="help-block"> Select Package. </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" ng-hide="ProductVisible">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Product </label>
                                                        <div class="col-md-9">
                                                            <select class="form-control" ng-model="ProductId" ng-options='option.ID as option.Name for option in Products'>
                                                                <option value="">Please Select</option>
                                                            </select>
                                                            <span class="help-block"> Select Product. </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Model</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" id="selectedmodel" keyboard-poster post-function="searchItem" ng-model="ModelName" ng-change="SelectModel()" name="first_name" placeholder="Type a model" list="_items" />
                                                            <datalist id="_items">
                                                                <select style="display: none;" id="_select" name="_select" ng-model="ModelName" ng-options="k for (k,v) in ProductModels track by k"></select>
                                                            </datalist>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row" ng-show="ProductVisible">
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Select Package Product</label>
                                                    <div class="col-md-9">
                                                        <div class="md-checkbox-inline">
                                                            <div class="md-checkbox" ng-repeat="product in PackageProducts">
                                                                <input type="checkbox" ng-attr-id="{{ 'checkbox1_3_' + $index }}" class="md-check" checklist-model="selected.products" checklist-value="product" />
                                                                <label for="{{ 'checkbox1_3_' + $index }}">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    {{product.ProductModelName}}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-offset-9 col-md-3">
                                                    <button type="button" class="btn green" @*ng-click="InsertData()"*@ data-target="#savemodal" data-toggle="modal">Save Initial Info</button>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                    <!-- END FORM-->
                                </div>
                            </div>

                        </div>
                        <!-- END Basic Form PORTLET-->
                        <!-- BEGIN BOM TABLE PORTLET-->
                        <div class="tab-pane fade" id="BOM">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i>Product BOM
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div style="text-align:center" ng-hide="lateLoader==1">
                                        Loading ...
                                        <br />
                                        <img src="~/assets/global/img/loading-big.gif" alt="" class="loading">
                                    </div>

                                    <table class="table table-striped table-hover table-bordered">

                                        <thead>
                                            <tr>
                                                <th> SKD Parts </th>
                                                <th> Parts Name </th>
                                                @*<th> Code </th>*@
                                                <th> Descreiption </th>
                                                <th> Manufacturer </th>
                                                <th> Required Amount </th>
                                                <th> Stock Amount </th>
                                                <th> Expected Production Date </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="Item in ProductBOM" ng-class='{stockoutalert : !Item.Available}'>

                                                <td>
                                                    {{($index>-1?(ProductBOM[$index-1].ParentID!=Item.ParentID?Item.ParentName:""):Item.ParentName)}}
                                                    <input hidden ng-model="Item.ParentID" />
                                                </td>
                                                <td>  {{Item.PartsName}} </td>
                                                @*<td>  {{Item.PartsCode}} </td>*@
                                                <td>  {{Item.Dimension}} </td>
                                                <td>
                                                    {{Item.ManufacturerName}}
                                                </td>
                                                <td>  {{Item.RequiredQty }} </td>
                                                <td>  {{Item.StockAvailability}} </td>
                                                <td>
                                                    {{ Item.ExpectedProductionStartDateText}}
                                                    <input hidden ng-model="Item.ExpectedProductionStartDate" />
                                                </td>
                                                @*<td ng-class='bg-red-thunderbird' @*ng-class='bg-red-thunderbird: !Item.Available, bg-green-meadow: Item.Available'>
                                                        {{ (Item.Available ? "Available" : "Stock Out")}}
                                                    </td>*@
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-md-offset-9 col-md-3">
                                            <button type="button" class="btn green" ng-click="InsertBOM()">Save BOM</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END BOM TABLE PORTLET-->
                        <!-- BEGIN Process TABLE PORTLET-->
                        <div class="tab-pane fade" id="Process">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i>Process Workflow
                                    </div>
                                </div>
                                <div class="portlet-body ">
                                    <div style="text-align:center" ng-hide="lateLoader==1">
                                        Loading ...
                                        <br />
                                        <img src="~/assets/global/img/loading-big.gif" alt="" class="loading">
                                    </div>
                                    <table class="table table-striped table-hover table-bordered" id="tblProcess">
                                        <thead>
                                            <tr>
                                                <th> Select</th>
                                                <th> Process Name </th>
                                                <th> Work Station </th>
                                                <th> Capacity Matric </th>
                                                <th> Expected Start Date </th>
                                                <th> Change Over Frequency  </th>
                                                <th> Threshold Time(Hr) </th>
                                                <th> Completion Time(Hr) </th>
                                                <th> Expected End Date </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="Item in ProductRoutings" ng-class="( Item.Selected ? ( hovering ? ' highlight' : 'selected-row') : ( hovering ? ' highlight' : 'blur'))" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
                                                <td>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="checkboxes" ng-change="CalculateFinishingTime($index)" ng-model="Item.Selected" @*ng-disabled="SkipProcess(Item.ProcessType)"*@ />
                                                        <span ng-class="( Item.Selected ? ( hovering ? 'highlight-span' : 'selected-row') : ( hovering ? 'highlight-span' : ''))"></span>
                                                    </label>
                                                </td>
                                                <td>
                                                    {{Item.ProcessName}}
                                                    <input hidden ng-model="Item.ModelProcessId" />
                                                    <input hidden ng-model="Item.ProcessType" />
                                                </td>
                                                <td>
                                                    {{Item.WorkStationName}}
                                                    <input hidden ng-model="Item.WorkStationId" />
                                                </td>
                                                <td>
                                                    {{Item.Capacity}} {{Item.CapacityTypeName}}
                                                    <input hidden ng-model="Item.CapacityType" />
                                                </td>
                                                <td>
                                                    {{Item.ExpectedStartDateText}}
                                                    <input hidden ng-model="Item.ExpectedStartDate" />
                                                </td>
                                                <td>
                                                    {{Item.NoOfChangeOver}}
                                                    <input hidden ng-model="Item.OldModelChangeOvertime" />
                                                    <input hidden ng-model="Item.NewModelChangeOvertime" />

                                                    @*<input type="number" class="form-control" ng-model="Item.NoOfChangeOver" ng-change="CalculateFinishingTime($index)" />*@
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control" ng-model="Item.ThresholdTime" ng-change="CalculateFinishingTime($index)" ng-disabled="SkipProcess(Item.ProcessType)" />
                                                </td>

                                                <td class="mytooltip">
                                                    <label ng-show="Item.CapacityType==1">{{Item.ExpectedFinishingTime}} Hr</label>
                                                    <span ng-class="(hovering ? 'highlight-label tooltiptext': 'blur' )" ng-show="(hovering && Item.CapacityType==1)">
                                                        As New: 1 * {{Item.NewModelChangeOvertime}} hr <br />
                                                        Repeat: {{ (Item.NoOfChangeOver-1)}} * {{Item.OldModelChangeOvertime}} hr
                                                    </span>
                                                </td>
                                                <td>
                                                    {{Item.ExpectedEndDateText}}
                                                    <input hidden ng-model="Item.ExpectedEndDate" />
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                    <div class="row">
                                        <div id="chartdiv"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-offset-9 col-md-3">
                                            <button type="button" class="btn green" ng-click="InsertRoutings()">Save Process</button>
                                            @*<button type="submit" class="btn green" data-target="#responsive" data-toggle="modal">Submit</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Prpcess TABLE PORTLET-->
                        <!-- BEGIN Process TABLE PORTLET-->
                        <div class="tab-pane fade" id="Decision">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i>Final Status
                                    </div>
                                </div>
                                <div class="portlet-body">

                                    <div class="row">
                                        <label class="col-md-3 control-label">Expected Start Date:</label>
                                        <div class="col-md-3">
                                            <input ng-model="ExpectedStartDate" readonly />
                                        </div>
                                        <label class="col-md-3 control-label">Expected End Date:</label>
                                        <div class="col-md-3">
                                            <input ng-model="ExpectedEndDate" readonly />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <label class="col-md-3 control-label">Final Completion Start Date:</label>
                                        <div class="col-md-3">
                                            <input ng-model="FinalStartDate" readonly />
                                        </div>
                                        <label class="col-md-3 control-label">Final Completion Date:</label>
                                        <div class="col-md-3">
                                            <input ng-model="FinalDate" readonly />
                                        </div>
                                    </div>


                                    <div class="row form-group form-md-radios">
                                        <label class="col-md-3 control-label">Status</label>
                                        <div class="col-md-9">
                                            <div class="md-radio-inline">
                                                <div class="md-radio">
                                                    <input type="radio" id="checkbox1_8" ng-model="Status" ng-value="0" name="rbtstatus" class="md-radiobtn">

                                                    <label for="checkbox1_8">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> Draft
                                                    </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="checkbox1_9" ng-model="Status" ng-value="1" name="rbtstatus" class="md-radiobtn">

                                                    <label for="checkbox1_9">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> Submit
                                                    </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="checkbox1_10" ng-model="Status" ng-value="2" name="rbtstatus" class="md-radiobtn">

                                                    <label for="checkbox1_10">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> Check
                                                    </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="checkbox1_11" ng-model="Status" ng-value="3" name="rbtstatus" class="md-radiobtn">

                                                    <label for="checkbox1_11">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> Approve
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-offset-9 col-md-3">

                                            <button type="submit" class="btn green"  data-target="#savemodal" data-toggle="modal">Submit</button>

                                        </div>
                                        <input type="hidden" id="MorderID_" value="0" />

                                    </div>

                                    
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div id="savemodal" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Confirm Save</h4>
                    </div>
                    <div class="modal-body">
                        <div class="scroller" style="height:100px" data-always-visible="1" data-rail-visible1="1">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2> Are you sure  You want Save this? </h2>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                        <button type="button" ng-click="InsertData()" class="btn green" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="successModal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" data-attention-animation="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2 id="successModalText"></h2>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn green">Continue</button>
                    </div>
                </div>
            </div>
            <div>
                <!-- END FORM-->

            </div>
        </div>
    </div>





</div>
@*<script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>*@
@*<script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>*@