﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/checklist-model.js"></script>
<script src="~/ViewScript/ForeCast.js"></script>

<div class="row" ng-app="WMRP">
    <div class="col-md-12" ng-controller="MOrderCtrl" ng-init="GetAllData()">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Manufacture Order List</span>
                </div>

            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">
                                    Tools
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-print"></i> Print
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-pdf-o"></i> Save as PDF
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-excel-o"></i> Export to Excel
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" id="hiddenorderId" />

                <table class="table table-striped table-bordered table-hover table-checkable order-column">
                    <thead>
                        <tr>
                            
                            <th> Id </th>
                            <th> Name </th>
                            <th> Product </th>
                            <th> Expected Production Volume </th>
                            <th> Expected End Date </th>
                            <th> Proposed Completion Date </th>
                            <th> Status </th>
                            <th> Actions </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="odd gradeX" ng-repeat="Item in ManufactureOrders">
                            
                            <td>
                                {{Item.ID}}

                            </td>
                            <td>
                                {{Item.Title}}

                            </td>
                            <td>
                                {{Item.ProductModelName}}
                                {{Item.PackageName}}
                            </td>
                            <td>
                                {{Item.ExpectedProductionVolume}}

                            </td>
                            <td>
                                {{Item.ExpectedEndDateText}}

                            </td>
                            <td>
                                {{Item.CalculatedCompletionDateText}}

                            </td>
                            <td>
                                {{Item.StatusName}}

                            </td>

                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a ng-href="~/ForeCast/Add/{{Item.ID}}"><i class="icon-docs"></i> Edit</a>
                                        </li>
                                        <li>
                                            <a href="#" data-target="#responsive" data-rel="{{Item.ID}}" data-toggle="modal">
                                                <i class="icon-tag"></i> Delete
                                            </a>
                                       </li>

                                    </ul>
                                </div>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Confirm Delete</h4>
                    </div>
                    <div class="modal-body">
                        <div class="scroller" style="height:100px" data-always-visible="1" data-rail-visible1="1">
                            <div class="row">
                                <div class="col-md-12">
                                    <p> Are you sure  You want to delete this? </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                        <button type="button" class="btn green" data-dismiss="modal" ng-click="Delete()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


        <div id="successModal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" data-attention-animation="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p id="successModalText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn green">Continue</button>
                    </div>
                </div>
            </div>
            <div>
                <!-- END FORM-->

            </div>
        </div>
    </div>

</div>

@*<script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>*@

