﻿@model WMRP.Service.Dto.WorkStationViewModel
@{
    ViewBag.Title = "AddWorkStation";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="row">
    <div class="col-md-10">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">WMRP - Add Work Station </span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-cloud-upload"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-wrench"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <!-- BEGIN FORM-->
                <div>@ViewBag.ResponseMessage</div>
                <form action="/WorkStation/AddWorkStation" method="post" class="form-horizontal">
                    <div class="form-body">

                        <div class="form-group form-md-line-input has-error">
                            <label class="col-md-3 control-label" for="form_control_1">WorkStation Name:</label>
                            <div class="col-md-9">
                                @Html.HiddenFor(m => m.ID)
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Enter WorkStation Name...</span>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-3 control-label" for="form_control_1">WorkStation Details:</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Details, new { @class = "form-control" })
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Enter WorkStation Details...</span>
                            </div>
                        </div>                       

                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-3 control-label" for="form_control_1">Capacity:</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.CapacityPerHour, new { @class = "form-control" })
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Enter WorkStation Capacity...</span>
                            </div>
                        </div>
                        @*<div class="form-group form-md-line-input has-success">
                            <label class="col-md-3 control-label" for="form_control_1">Finishing Time(Per Unit)</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.FinishingTimePerUnit, new { @class = "form-control" })
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Enter Finishing Time(Per Unit)...</span>
                            </div>
                        </div>*@
                        <div class="form-group form-md-checkboxes has-error">
                            <label class="col-md-3 control-label" for="form_control_1">Is Machine?</label>
                            <div class="col-md-9">
                                <div class="md-checkbox-inline">
                                    <div class="md-checkbox">
                                        @*<input type="checkbox" id="checkbox1_3" class="md-check">*@
                                        @*@Html.CheckBoxFor(m => m.IsMainProductOfGroup, new { @class = "md-check", id = "checkbox1_3" })*@
                                        @Html.CheckBoxFor(m => m.IsMachine, new { @class = "md-check", id = "checkbox1_3" })
                                        <label for="checkbox1_3">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> @*Option 1*@
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Submit</button>
                                @*<a class="btn btn-outline dark" data-target="#static" data-toggle="modal"> View Demo </a>*@
                                @*<a href="javascript:;" class="btn green">Submit</a>
                                    <a href="javascript:;" class="btn default">Cancel</a>*@
                            </div>
                        </div>
                    </div>
                </form>

                <!-- static -->
                <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
                    <div class="modal-body">
                        <p> Would you like to continue with some arbitrary task? </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-outline dark">Cancel</button>
                        <button type="button" data-dismiss="modal" class="btn green">Continue Task</button>
                    </div>
                </div>
                <div id="static2" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" data-attention-animation="false">
                    <div class="modal-body">
                        <p> @ViewBag.ResponseMessage </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-outline dark">Cancel</button>
                        <button type="button" data-dismiss="modal" class="btn green">Continue Task</button>
                    </div>
                </div>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>

