﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<script src="~/Scripts/angular.js"></script>
<script src="~/ViewScript/Workstation.js"></script>

<div class="row" ng-app="WMRP">
    <div class="col-md-12" ng-controller="WorkstationCtrl" ng-init="GetModelSatationProcess()">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">Work Stations</span>
                </div>

            </div>
            <div class="portlet-body">
                <div class="form-group row row_design_detail " >
                    <div class="form-group row row_design form-md-line-input has-success">
                        <label class="control-label col-md-1 col-md-offset-1">Select Model</label>
                        <div class="col-md-3">
                            <input type="text" id="selectedmodel"  class="form-control" keyboard-poster post-function="searchItem" ng-model="ModelName" name="first_name" ng-change="GetModelSatationProcess()" placeholder="Type a model name" list="_items" />
                            <datalist id="_items">
                                <select style="display: none;" id="_select" name="_select"  ng-model="ModelName" ng-options="k for (k,v) in ProductModels track by k"></select>
                            </datalist>
                        </div>
                    </div>
                    <br />
                    <div class="col-sm-12" >
                        <div class="rm">
                            <div class="form-group row row_design form-md-line-input has-success">

                               
                                <label class="control-label col-md-1 col-md-offset-1"> Select</label>
                                <label class="control-label col-md-2"> Process</label>
                                <label class="control-label col-md-2"> Station Name</label>
                                <label class="control-label col-md-1 "> Capacity</label>
                                <label class="control-label col-md-1 "> </label>
                                <label class="control-label col-md-2 "> Change Over Time(Old)</label>
                                <label class="control-label col-md-2 "> Change Over Time(New)</label>
                            </div>
                        </div>
                        <div class="rm" ng-repeat="Item in ModelStationProcesses">
                            <div class="form-group row row_design form-md-line-input has-success">
                                <label class="col-sm-1 col-md-offset-1 mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="checkboxes" ng-model="Item.Status" />
                                    <span></span>
                                </label>
                                <div class="col-sm-2">
                                    {{($index>0?(ModelStationProcesses[$index-1].ModelProcessID!=Item.ModelProcessID?Item.ModelProcessName:""):Item.ModelProcessName)}}
                                    <input hidden ng-model="Item.ModelProcessID" />
                                </div>
                                <div class="col-sm-2">
                                    {{Item.WorkSatationName}}
                                    <input hidden ng-model="Item.WorkStationID" />
                                </div>
                                <div class="col-sm-1">
                                    <input type="number" class="form-control" placeholder="Type a Number" ng-model="Item.CapacityPerHour" />
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control" placeholder="Type a Number" ng-model="Item.WorkSatationCapacityType" />
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" placeholder="No of Hours" ng-model="Item.OldModelChangeOvertime" />
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" placeholder="No of Hours" ng-model="Item.NewModelChangeOvertime" />
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                    @*<div >
                        <div class="col-sm-12">
                            
                            <br />
                        </div>
                    </div>*@
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-8">
                            <a class="btn btn-outline green" data-target="#savemodal" data-toggle="modal"> Save All </a>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="hiddenWorkStationId" />
            </div>
        </div>
        <div id="savemodal" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Confirm Save</h4>
                    </div>
                    <div class="modal-body">
                        <div class="scroller" style="height:100px" data-always-visible="1" data-rail-visible1="1">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2> Are you sure  You want Save this? </h2>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                        <button type="button" ng-click="SaveData()" class="btn green" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="deletemodal" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Confirm Delete</h4>
                    </div>
                    <div class="modal-body">
                        <div class="scroller" style="height:100px" data-always-visible="1" data-rail-visible1="1">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2> Are you sure You want Delete this? </h2>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                        <button type="button" ng-click="Delete()" class="btn green" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="successModal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" data-attention-animation="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2 id="successModalText"></h2>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn green">Continue</button>
                    </div>
                </div>
            </div>
            <div>
                <!-- END FORM-->

            </div>
        </div>
    </div>
</div>

