﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<script src="~/Scripts/angular.js"></script>
<script src="~/ViewScript/ProductModel.js"></script>
<script src="~/ViewScript/dirPagination.js"></script>

<div class="row" ng-app="WMRP">
    <div class="col-md-12" ng-controller="ProductModelCtrl" ng-init="LoadAllModel()">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Model List</span>
                </div>
                @*<div class="tools"> </div>*@
                <div class="actions">
                    @*<div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                            <input type="radio" name="options" class="toggle" id="option1">Actions
                        </label>
                        <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Settings
                        </label>
                    </div>*@
                    
                    @*<form class="form-inline">
                        <div class="form-group">
                            <label>Search</label>
                            <input type="text" ng-model="search" class="form-control" placeholder="Search">
                        </div>
                    </form>*@

                    @*<button onclick="printData()">Click me</button>*@
                </div>
            </div>
            <div class="portlet-body">
                
                <input type="hidden" id="hiddenModelId" />

                <table id="model_table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>

                            <th> Id </th>
                            <th> Product Name </th>
                            <th> Model Name </th>
                            <th> Actions </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="odd gradeX" ng-repeat="Item in Models" @*dir-paginate="Item in Models|filter:search|itemsPerPage:10"*@>

                            <td>
                                {{Item.ID}}

                            </td>
                            <td>
                                {{Item.ProductName}}

                            </td>
                            <td>
                                {{Item.ModelName}}

                            </td>

                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a ng-href="~/ProductModel/AddProductModel/{{Item.ID}}"><i class="icon-docs"></i> Edit</a>
                                        </li>
                                        <li>

                                            <a href="#" data-target="#responsive" ng-click="SetId(Item.ID)" data-toggle="modal">
                                                <i class="icon-tag"></i> Delete
                                            </a>

                                        </li>

                                    </ul>
                                </div>
                            </td>

                        </tr>

                    </tbody>
                </table>
                <dir-pagination-controls max-size="10"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>
        <div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Confirm Delete</h4>
                    </div>
                    <div class="modal-body">
                        <div class="scroller" style="height:100px" data-always-visible="1" data-rail-visible1="1">
                            <div class="row">
                                <div class="col-md-12">
                                    <p> Are you sure  You want to delete this? </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                        <button type="button" class="btn green" data-dismiss="modal" ng-click="Delete()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


        <div id="successModal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" data-attention-animation="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p id="successModalText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn green">Continue</button>
                    </div>
                </div>
            </div>
            <div>
                <!-- END FORM-->

            </div>
        </div>
    </div>

</div>



@*@section scripts
{
    <script type="text/javascript">

        $(document).ready(function() {
            $('#model_table').DataTable();


        });
    </script>
}*@



