﻿@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/ViewScript/MRPProcess.js"></script>

<div class="row" ng-app="WMRP">
    <div class="col-md-10" ng-controller="ProductCtrl" ng-init="GetAllProduct()">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">WMRP - Add Process </span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-cloud-upload"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-wrench"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <!-- BEGIN FORM-->

                <form class="form-horizontal">
                    <div class="form-body">


                        <div class="form-group form-md-line-input has-error">
                            <label class="col-md-3 control-label" for="form_control_1">Process Name:</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="process name" ng-model="Name" />

                                <div class="form-control-focus"> </div>
                                <span class="help-block">Enter Process Name...</span>
                            </div>
                        </div>
                        <div class="form-group form-md-checkboxes has-error">
                            <label class="col-md-3 control-label" for="form_control_1">By Machine? </label>
                            <div class="col-md-9">
                                <div class="md-checkbox-inline">
                                    <div class="md-checkbox">
                                        <input type="checkbox" id="checkbox1_4" class="md-check" ng-model="ByMachine" />
                                        <label for="checkbox1_4">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-3 control-label" for="form_control_1">Product :</label>
                            <div class="col-md-9">
                                <select class="form-control">
                                    <option value="" selected>Please Select</option>
                                    <option ng-repeat="x in Products" value="{{x.Id}}" ng-selected="ProductID">{{x.Name}} </option>
                                </select>

                                <span class="help-block">Select Product ...</span>
                            </div>
                        </div>
                        <div class="form-group form-md-checkboxes has-error">
                            <label class="col-md-3 control-label" for="form_control_1">Is Main Process?</label>
                            <div class="col-md-9">
                                <div class="md-checkbox-inline">
                                    <div class="md-checkbox">
                                        <input type="checkbox" id="checkbox1_3" class="md-check" ng-model="IsMainProcess" />
                                        @*@Html.CheckBoxFor(m => m.IsMainProcess, new { @class = "md-check", id = "checkbox1_3" })*@
                                        <label for="checkbox1_3">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-3 control-label" for="form_control_1">Sequence: </label>
                            <div class="col-md-9">
                                <input type="number" class="form-control" placeholder="Type a Number" ng-model="Sequence" />
                                @*@Html.TextBoxFor(m => m.Sequence, new { @class = "form-control" })*@
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Enter Sequence...</span>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-3 control-label" for="form_control_1">Lead Time: </label>
                            <div class="col-md-9">
                                <input type="number" class="form-control" placeholder="No of Days" ng-model="LeadTime" />
                                @*@Html.TextBoxFor(m => m.LeadTime, new { @class = "form-control" })*@
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Enter Lead Time...</span>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-3 control-label" for="form_control_1">Change Over Time(Old Model): </label>
                            <div class="col-md-9">
                                <input type="number" class="form-control" placeholder="type hours" ng-model="OldModelChangeOvertime" />
                                @*@Html.TextBoxFor(m => m.OldModelChangeOvertime, new { @class = "form-control" })*@
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Enter Lead Time...</span>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-3 control-label" for="form_control_1">Change Over Time(New Model): </label>
                            <div class="col-md-9">
                                <input type="number" class="form-control" placeholder="type hours" ng-model="NewModelChangeOvertime" />
                                @*@Html.TextBoxFor(m => m.NewModelChangeOvertime, new { @class = "form-control" })*@
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Enter Lead Time...</span>
                            </div>
                        </div>


                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                @*<input type="button" id="btnSave" class="btn green" value="Submit"  />*@
                                <a class="btn btn-outline dark" data-target="#responsive" data-toggle="modal"> Submit </a>
                                @*<button type="submit" class="btn green" value="Submit" >Submit</button>*@

                            </div>
                        </div>
                    </div>
                </form>
                <!-- static -->

                <div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Confirm Save</h4>
                            </div>
                            <div class="modal-body">
                                <div class="scroller" style="height:100px" data-always-visible="1" data-rail-visible1="1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p> Would you like to Add/Update this Process? </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                                <button type="button" class="btn green" data-dismiss="modal" ng-click="InsertData()">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="successModal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" data-attention-animation="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p id="successModalText"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn green">Continue</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- END FORM-->

                    </div>
                </div>
                <!-- END VALIDATION STATES-->
                @Html.Hidden("ProsID_")
            </div>
        </div>

    </div>
</div>