﻿@model List<WMRP.Service.Dto.ProcessViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Managed Table</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                            <input type="radio" name="options" class="toggle" id="option1">Actions
                        </label>
                        <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Settings
                        </label>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                
                                <a href="@Url.Action("Add", "Process")">
                                    <i class="fa fa-plus"></i> Add New Process
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">
                                    Tools
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-print"></i> Print
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-pdf-o"></i> Save as PDF
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-excel-o"></i> Export to Excel
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" id="hiddenProcessId" />

                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                    <span></span>
                                </label>
                            </th>
                            <th> Name </th>
                            <th> By Machine? </th>
                            <th> Product </th>
                            <th> Sequence </th>
                            <th> Is Main Process </th>
                            <th> Lead Time </th>
                            
                            <th> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="odd gradeX">
                                <td>
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" value="1" />
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.ByMachine)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Sequence)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.IsMainProcess)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.LeadTime)
                                </td>
                                
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                            Actions
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>

                                                <a href="@Url.Action("Add", "Process", new { id = item.ID }, null)">
                                                    <i class="icon-docs"></i> Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" onclick="ConfirmDelete('@item.ID.ToString()')">
                                                    <i class="icon-tag"></i> Delete
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Delete Process</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Are you sure  You want to delete this? </h4>
                <input type="hidden" id="id" name="id" value="" />
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteProduct()">Confirm</a>
            </div>
        </div>
    </div>
</div>





<script type="text/javascript">

    function ConfirmDelete(id) {
        $("#hiddenProcessId").val(id);
        $('#myModal').modal('show');
    }

    function DeleteProcess() {

        var processId = $("#hiddenProcessId").val();

        $.ajax({
            type: "POST",
            url: "/Process/Delete",
            data: { id: productId },
            success: function () {
                $("#myModal").modal('hide');

                location.reload();

            },
            error: function () {
                alert('Fail to delete');
            }
        })
    }
</script>


