﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<script src="~/Scripts/angular.js"></script>
<script src="~/ViewScript/MRPProcess.js"></script>

<div class="row" ng-app="WMRP">
    <div class="row" ng-controller="ProcessCtrl" ng-init="GetAllBasicProcess()">

        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Add Process</span>
                </div>

            </div>
            <div class="portlet-body">

                <div class="form-group row row_design_detail ">
                    <div class="form-group row row_design form-md-line-input has-success">
                        <label class="control-label col-md-1 col-md-offset-1"> Model</label>
                        <div class="col-md-3">
                            <input type="text" id="selectedmodel" class="form-control" keyboard-poster post-function="searchItem" ng-model="ModelName" name="first_name" ng-change="GetAllData()" placeholder="Type a model name" list="_items" />
                            <datalist id="_items">
                                <select style="display: none;" id="_select" name="_select" ng-model="ModelName" ng-options="k for (k,v) in ProductModels track by k"></select>
                            </datalist>
                        </div>
                        <div class="col-md-3" style="text-align: center;">
                            <a class="plus" ng-click="AddNewProcess()">Add Process <span class="glyphicon glyphicon-plus"></span></a>
                        </div>
                    </div>
                    <br />
                    <div class="col-sm-12">
                        <div class="rm">
                            <div class="form-group row row_design form-md-line-input has-success">
                                <label class="control-label col-md-4"> Process</label>
                                <label class="control-label col-md-1 "> Main Process?</label>
                                <label class="control-label col-md-2"> Sequence</label>
                                <label class="control-label col-md-2 col-md-offset-1"> Lead Time(Days)</label>
                            </div>
                        </div>
                        <div ng-repeat="Item in ModelProcesses">
                            <div class="col-sm-12">
                                <div class="rm">
                                    <div class="form-group row row_design form-md-line-input has-success">
                                        <div class="col-sm-4">
                                            <select class="form-control" ng-model="Item.ProcessID" ng-change="ChackDuplicate(Item)" ng-options='option.ID as option.Name for option in processes'>
                                                <option value="">Please Select</option>
                                            </select>
                                        </div>

                                        <div class="col-sm-1">
                                            <div class="md-checkbox-inline">
                                                <div class="md-checkbox">
                                                    <input type="checkbox" ng-attr-id="{{ 'checkbox1_3_' + $index }}" class="md-check" ng-model="Item.IsMainProcess" />

                                                    <label for="{{ 'checkbox1_3_' + $index }}">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" placeholder="Type a Number" ng-model="Item.Sequence" />
                                        </div>

                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" placeholder="No of Days" ng-model="Item.LeadTime" />
                                        </div>

                                        <div class="col-sm-1" style="text-align: center;">
                                            <a class="minus" href='#' ng-click="RemoveProcess(Item)" data-target="#deletemodal" data-toggle="modal"><span class="glyphicon glyphicon-minus"></span></a>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-8">
                            <a class="btn btn-outline green" data-target="#savemodal" data-toggle="modal"> Save All </a>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="ModelProsID_" />


            </div>
        </div>
        <div id="savemodal" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Confirm Save</h4>
                    </div>
                    <div class="modal-body">
                        <div class="scroller" style="height:100px" data-always-visible="1" data-rail-visible1="1">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2> Are you sure  You want Save this? </h2>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                        <button type="button" ng-click="SaveData()" class="btn green" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="deletemodal" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Confirm Delete</h4>
                    </div>
                    <div class="modal-body">
                        <div class="scroller" style="height:100px" data-always-visible="1" data-rail-visible1="1">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2> Are you sure You want Delete this? </h2>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                        <button type="button" ng-click="Delete()" class="btn green" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="successModal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" data-attention-animation="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2 id="successModalText"></h2>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn green">Continue</button>
                    </div>
                </div>
            </div>
            <div>
                <!-- END FORM-->

            </div>
        </div>

        @*<div class="col-md-7">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="icon-settings font-dark"></i>
                            <span class="caption-subject bold uppercase"> Process List</span>
                        </div>

                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover ">
                            <thead>
                                <tr>

                                    <th> Process </th>
                                    <th> For Model </th>
                                    <th> Sequence </th>
                                    <th> Main Process? </th>
                                    <th> Lead Time </th>
                                    <th> Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" ng-repeat="Item in ModelProcesses">
                                    <td>
                                        {{Item.ProcessName}}

                                    </td>

                                    <td>
                                        {{Item.ProductModelName}}

                                    </td>
                                    <td>
                                        {{Item.Sequence}}

                                    </td>
                                    <td>
                                        <input type="checkbox" class="md-check" ng-model="Item.IsMainProcess" disabled />


                                    </td>
                                    <td>
                                        {{Item.LeadTime}}

                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                Actions
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a ng-click="LoadData($index)"><i class="icon-docs"></i> Edit</a>
                                                </li>
                                                <li>
                                                    <a href="#" data-target="#responsive" ng-click="SetId(Item.ID)" data-toggle="modal">
                                                        <i class="icon-tag"></i> Delete
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>*@
    </div>


</div>


