﻿
@using System.Activities.Expressions
@using System.Web.UI.WebControls
@using WMRP_DAL
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WMRP</title>
    

    @Styles.Render("~/css")
    @Styles.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/custom")
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/respond.js"></script>
    <script src="~/Content/NavBar/js/bootstrap-4-navbar.js"></script>

    <style>
        /*.container-fluid {
                margin: 0 !important;
                padding: 0 !important;
            }*/
        .navbar {
            margin: 0 0 10px 0;
            border: 1px solid;
            border-color: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
        }


        .navbar {
            background-color: #FFFFFF;
            color: #FA452F;
            border-radius: 10px;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

            .navbar .navbar-brand,
            .navbar .navbar-brand:hover,
            .navbar .navbar-brand:focus {
                color: #FFF;
            }

            .navbar .navbar-nav > li > a {
                color: #FFF;
                font-weight: bold;
            }


            .navbar.nav.nav-item {
                background-color: #FA452F;
                border-radius: 20px;
            }


            .navbar .dropdown-menu > li > a:hover,
            .navbar .dropdown-menu > li > a:focus {
                color: aliceblue;
                background-color: #FA452F;
            }

            .navbar .navbar-nav > .active > a,
            .navbar .navbar-nav > .active > a:hover,
            .navbar .navbar-nav > .active > a:focus {
                color: #FFF;
                background-color: #E96B56;
                border-radius: 10px;
            }

        footer {
            color: #bbb;
            background: #222;
        }

        .custom-toggler.navbar-toggler {
            border-color: #FF8381;
        }

        .navbar .navbar-toggler .navbar-toggler-icon {
            background-color: #FF8381 !important;
        }


        .fixed-top {
            right: 20% !important;
            left: 20% !important;
        }
    </style>

</head>
<body>
    @{
        string hName = "";
        hName = string.IsNullOrEmpty(ViewContext.HttpContext.User.Identity.Name) ? "Walton MRP System" : "WMRP";
        var menuList = (List<Permission>)@HttpContext.Current.Session["permissions"];
        var controllerList = menuList != null ? menuList.Select(i => i.ControllerName).Distinct() : null;
    }
    
    <div class="container-fluid">
        <div class="container">
            <!-- Static navbar -->

            <nav class="navbar fixed-top navbar-expand-lg ">
                <a class="navbar-brand" style="color: #E96D58;font-weight: bold;" href="#">MRP</a>
                <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse " id="navbarNavDropdown">
                    @if (!string.IsNullOrEmpty(ViewContext.HttpContext.User.Identity.Name))
                    {
                        <ul class="navbar-nav mr-auto">
                            

                            <li><a class="nav-item" href="#">&nbsp;</a></li>
                            <li><a class="nav-item" href="#">@ViewContext.HttpContext.User.Identity.Name</a></li>

                            <li><a class="nav-item" href="#">@ViewContext.HttpContext.User.Identity.Name</a></li>
                            <li><a class="nav-item" href="#">&nbsp;</a></li>


                            <li class="nav-item dropdown active">
                                <a class=" nav-link dropdown-toggle" href="#" style="text-align: center;" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-navicon"></i> &nbsp;MENUS
                                </a>
                                <ul class="dropdown-menu">
                                    @if (controllerList != null)
                                    {
                                        foreach (var controller in controllerList)
                                        {
                                            var actionList = menuList.Where(i => i.ControllerName == controller).ToList();
                                            <li class="divider"></li>
                                            <li class="dropdown-submenu">
                                                <a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown">@controller</a>
                                                <ul class="dropdown-menu">
                                                    @foreach (var action in actionList)
                                                    {
                                                        if (action.Description != "NA")
                                                        {
                                                            <li>@Html.ActionLink(action.Description, action.ActionName, action.ControllerName, null, new { @class = "dropdown-item" })</li>
                                                            <li class="divider"></li>
                                                        }

                                                    }

                                                </ul>
                                            </li>
                                        }
                                    }


                                </ul>
                                <ul class="dropdown-menu">
                                    @Html.ActionLink("Test", "Index", "KPI", new { @class = "dropdown-item" })
                                </ul>
                            </li>


                        </ul>
                    }



                    <ul class="navbar-nav">

                        <li class="nav-item">
                            
                            @using Microsoft.AspNet.Identity
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <ul class="nav navbar-nav navbar-right">
                                       
                                        <li><a href="javascript:document.getElementById('logoutForm').submit()" id="loginLink" class="nav-link" style="color: #E96B56;">LOGOUT</a></li>
                                    </ul>
                                }
                            }
                            else
                            {
                                <ul class="nav navbar-nav navbar-right">
                                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                </ul>
                            }
                        </li>
                    </ul>

                </div>
                @*@Html.Partial("_LoginPartial")*@
            </nav>



        </div>


        <br />
        <br />
        <br />
        <br />
        <div id="body" style="">


            @RenderSection("scripts", required: false)

            @RenderBody()

        </div>
        

        <div class="row">
            <footer class="col-lg-12 fixed-bottom">
                @*<div class="container">
                        <div class="row">
                            <div class="span4 col-lg-4">
                                <div class="widget">
                                    <h5 class="widgetheading">Browse pages</h5>
                                    <ul class="link-list">
                                        <li><a href="#">Our company</a></li>
                                        <li><a href="#">Terms and conditions</a></li>
                                        <li><a href="#">Privacy policy</a></li>
                                        <li><a href="#">Press release</a></li>
                                        <li><a href="#">What we have done</a></li>
                                        <li><a href="#">Our support forum</a></li>
                                    </ul>

                                </div>
                            </div>
                            <div class="span4 col-lg-4">
                                <div class="widget">
                                    <h5 class="widgetheading">Get in touch</h5>
                                    <address>
                                        <strong>Eterna company Inc.</strong><br>
                                        Somestreet 200 VW, Suite Village A.001<br>
                                        Jakarta 13426 Indonesia
                                    </address>
                                    <p>
                                        <i class="icon-phone"></i> (123) 456-7890 - (123) 555-7891 <br>
                                        <i class="icon-envelope-alt"></i> email@domainname.com
                                    </p>
                                </div>
                            </div>
                            <div class="span4 col-lg-4">
                                <div class="widget">
                                    <h5 class="widgetheading">Subscribe newsletter</h5>
                                    <p>
                                        Keep updated for new releases and freebies. Enter your e-mail and subscribe to our newsletter.
                                    </p>
                                    <form class="subscribe">
                                        <div class="input-append">
                                            <input class="span2" id="appendedInputButton" type="text">
                                            <button class="btn btn-theme" type="submit">Subscribe</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>*@

                <div id="sub-footer">
                    <div class="container">
                        <div class="row">
                            <div class="span6">
                                <div class="copyright">
                                    <p><span>&copy; Walton Group. All right reserved</span></p>
                                </div>

                            </div>

                           
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script>
        $(window).scroll(function () {
            
            if ($(document).scrollTop() > 100) {
                $('.navbar').addClass('affix');
            } else {
                $('.navbar').removeClass('affix');
            }
        });
    </script>
</body>
</html>
