﻿@model IEnumerable<WKPI.DAL.DBEntity.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">Users</div>
        <div class="card-body" >
            <h2>
                <input type="button" class="btn btn-success" value="Create" onclick="location.href='@Url.Action("Create", "User")'" />
            </h2>
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            <br/>
            <div style="overflow: auto">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Employee ID</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Designation</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Phone</th>
                            <th class="text-center">Department</th>
                            <th class="text-center">Section</th>
                            <th class="text-center">Sub Section</th>
                            <th class="text-center">User Name</th>
                            <th class="text-center">Role</th>
                            <th class="text-center">IsIncharge</th>
                            <th class="text-center">Active</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td class="text-center">@i.EmployeeId</td>
                                <td class="text-center">@i.Name</td>
                                <td class="text-center">@i.Designation</td>
                                <td class="text-center">@i.Email</td>
                                <td class="text-center">@i.Phone</td>
                                <td class="text-center">@i.Department</td>
                                <td class="text-center">@i.Section</td>
                                <td class="text-center">@i.SubSection</td>
                                <td class="text-center">@i.UserName</td>
                                <td class="text-center">@i.Role</td>
                                <td class="text-center">@i.IsIncharge</td>
                                <td class="text-center">@i.IsActive</td>
                                <td>
                                    <input type="button" class="btn btn-danger" value="Edit" onclick="location.href='@Url.Action("Edit", "User",new { id = i.Id })'" />
                                    <input type="button" class="btn btn-info" value="Details" onclick="location.href='@Url.Action("Permission", "Account", new { employeeId = i.EmployeeId })'" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>

<script>
    $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
    });
</script>
