﻿@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<script src="~/Scripts/angular.js"></script>
<script src="~/ViewScript/Product.js"></script>
<script src="~/ViewScript/angucomplete-alt.js"></script>


<div class="row" ng-app="WMRP">
    <div class="col-md-10" ng-controller="ProductCtrl" ng-init="GetAllLoadedData()">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">WMRP - Add Product </span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-cloud-upload"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-wrench"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <!-- BEGIN FORM-->
                <div>@ViewBag.ResponseMessage</div>
                <form class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group form-md-line-input has-error">
                            <label class="col-md-3 control-label" for="form_control_1">Product Name:</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Enter Product Name" ng-model="ProductName">
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Enter Product Name...</span>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-3 control-label">Product Group:</label>
                            <div class="col-md-9">
                                <select class="form-control" ng-model="ProductGroupId" ng-options='option.ID as option.Name for option in Groups'>
                                    <option value="">Please Select</option>
                                </select>
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Select Product Group...</span>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-3 control-label">Product Model:</label>
                            <div class="col-md-9">
                                <select class="form-control" ng-model="ProductModelId" ng-options='option.ID as option.Name for option in Models'>
                                    <option value="">Please Select</option>
                                </select>
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Select Product Model...</span>
                            </div>
                            @*<div angucomplete-alt id="txtautocomplete" placeholder="Type Product Group name" pause="10" selected-object="AfterSelectedProductGroup" local-data="ProductGroups" search-fields="Name" title-field="Name" minlength="1" input-class="form-control" match-class="highlight">

                                </div>
                                <div ng-show="SelecetedProductGroup">

                                    @*<input type="text" class="form-control" placeholder="">
                                        @Html.DropDownListFor(m => m.GroupId, new SelectList(ViewBag.ProductGroups, "Value", "Text"), "Select", new { @class = "form-control" })
                                        <div class="form-control-focus"> </div>
                                        <span class="help-block">Select Product Group...</span>
                                    Selected Name: {{SelecetedProductGroup.Name}}

                                </div>*@

                            <div class="form-group form-md-checkboxes has-error">
                                <label class="col-md-3 control-label" for="form_control_1">Is Main Product?</label>
                                <div class="col-md-9">
                                    <div class="md-checkbox-inline">
                                        <div class="md-checkbox">
                                            <input type="checkbox" id="checkbox1_3" class="md-check" ng-model="IsMainProdduct">

                                            <label for="checkbox1_3">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span> Option 1
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input has-success">
                                <label class="col-md-3 control-label" for="form_control_1">Lead Time:</label>
                                <div class="col-md-9">
                                    <input type="number" class="form-control" placeholder="" ng-model="LeadTime">
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">Enter Product Lead Time...</span>
                                </div>
                            </div>
                            @*<div class="form-group form-md-radios has-warning">
                                    <label class="col-md-3 control-label" for="form_control_1">Status</label>
                                    <div class="col-md-9">
                                        <div class="md-radio-inline">
                                            <div class="md-radio">
                                                <input type="radio" id="checkbox1_8" name="radio2" class="md-radiobtn" value="active" ng-model="Status">
                                                @Html.RadioButtonFor(m => m.Status, "True", new { @class = "md-radiobtn", id = "checkbox1_8" })
                                                <label for="checkbox1_8">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> Active
                                                </label>
                                            </div>
                                            <div class="md-radio">
                                                <input type="radio" id="checkbox1_9" name="radio2" class="md-radiobtn" checked="" value="inActive" ng-model="Status">
                                                @Html.RadioButtonFor(m => m.Status, "False", new { @class = "md-radiobtn", id = "checkbox1_9" })
                                                <label for="checkbox1_9">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> InActive
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green" data-target="#responsive" data-toggle="modal">Submit</button>
                                @*<a class="btn btn-outline dark" data-target="#static" data-toggle="modal"> View Demo </a>*@
                                @*<a href="javascript:;" class="btn green">Submit</a>
                                    <a href="javascript:;" class="btn default">Cancel</a>*@
                            </div>
                        </div>
                    </div>
                </form>

                <div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Confirm Save</h4>
                            </div>
                            <div class="modal-body">
                                <div class="scroller" style="height:100px" data-always-visible="1" data-rail-visible1="1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p> Would you like to Add/Update this Product? </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                                <button type="button" class="btn green" data-dismiss="modal" ng-click="InsertData()">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="successModal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" data-attention-animation="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p id="successModalText"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn green">Continue</button>
                            </div>
                        </div>
                        <div class="form-group form-md-radios has-warning">
                            <label class="col-md-3 control-label" for="form_control_1">Status</label>
                            <div class="col-md-9">
                                <div class="md-radio-inline">

                                    <div class="md-radio">
                                        <input type="radio" id="checkbox1_8" ng-model="Status" ng-value="True" name="rbtstatus" class="md-radiobtn">

                                        <label for="checkbox1_8">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Active
                                        </label>
                                    </div>
                                    <div class="md-radio">
                                        <input type="radio" id="checkbox1_9" ng-model="Status" ng-value="False" name="rbtstatus" class="md-radiobtn">

                                        <label for="checkbox1_9">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> InActive
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div>
                        <!-- END FORM-->
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">Submit</button>
                                    @*<a class="btn btn-outline dark" data-target="#static" data-toggle="modal"> View Demo </a>*@
                                    @*<a href="javascript:;" class="btn green">Submit</a>
                                        <a href="javascript:;" class="btn default">Cancel</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END FORM-->
                </div>
            </div>
            @Html.Hidden("ProductID_")
            <!-- END VALIDATION STATES-->
        </div>
    </div>
</div>


