﻿@model IEnumerable<WKPI.Models.PermissionViewModel>
@{
    ViewBag.Title = "Permission";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string empId = TempData["EmployeeId"] as string;
}

@using (Html.BeginForm("Create", "User", FormMethod.Post, new { id = "UserForm" }))
{
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">Permissions</div>
            <div class="card-body">
                <table class="table table table-bordered table-hover mainTable">
                    <tr>
                        <th>
                            Controller
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    
                    @Html.Label("EmployeeId",empId)
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Controller)
                            </td>
                            <td>
                                @for (int i = 0; i < item.ActionsActionViewModels.Count; i++)
                                {
                                    <table class="innerTable">
                                        <tr>
                                            <td>@Html.CheckBox(item.Controller + "," + @item.ActionsActionViewModels[i].ActionName, @item.ActionsActionViewModels[i].IsChecked)@item.ActionsActionViewModels[i].ActionName</td>
                                        </tr>
                                        @*<tr>.
                                                <td>@Html.DisplayFor(modelItem => i)</td>
                                            </tr>*@
                                    </table>
                                }
                            </td>
                        </tr>
                    }

                </table>
                <input type="button" name="Set Permission" value="Submit" onclick="get_permission()" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function get_permission() {
        var employeeId = $('label[for="EmployeeId"]').html();
        var permissionObject = {};
        permissionObject.PermissionGranted = [];
        permissionObject.PermissionDenied = [];

        $("input:checkbox").each(function () {
            var $this = $(this);

            if ($this.is(":checked")) {
                permissionObject.PermissionGranted.push($this.attr("name"));
            } else {
                permissionObject.PermissionDenied.push($this.attr("name"));
            }
        });
        console.log("granted ");
        console.log(permissionObject.PermissionGranted);
        console.log("denied ");
        console.log(permissionObject.PermissionDenied);

        var url = '@Url.Action("SavePermission", "Account")';
        $.post(url, { permissionList: permissionObject.PermissionGranted, employeeId: employeeId }, function (result) {

        });
    }

    $(function () {




    });
</script>
