﻿@using System.Collections.Specialized
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

@*<h2>Index</h2>*@
<div id="calender"></div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                @*<button id="btnDelete" class="btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
                <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>*@
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalSave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Save Event</h4>
            </div>
            <div class="modal-body">
                <form class="col-md-12 form-horizontal">
                    <input type="hidden" id="hdEventID" value="0" />
                    <div class="form-group">
                        <label>Subject</label>
                        <input type="text" id="txtSubject" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Start</label>
                        <div class="input-group date" id="dtp1">
                            <input type="datetime" id="txtStart" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" id="chkIsFullDay" checked="checked" />  Is Full Day event</label>
                        </div>
                    </div>
                    <div class="form-group" id="divEndDate" style="display:none">
                        <label>End</label>
                        <div class="input-group date" id="dtp2">
                            <input type="datetime" id="txtEnd" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Theme Color</label>
                        <select id="ddThemeColor" class="form-control">
                            <option value="">Default</option>
                            <option value="red">Red</option>
                            <option value="blue">Blue</option>
                            <option value="black">Black</option>
                            <option value="green">Green</option>
                        </select>
                    </div>
                    <button type="button" id="btnSave" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

@*<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />*@
<link href="~/Content/css/fullcalender.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(document).ready(function() {
            var events = [];
            var selectedEvent = null;
            FetchEventAndRenderCalendar();
            //debugger;
            //var bgcolor = '';
            function FetchEventAndRenderCalendar() {
                events = [];
                $.ajax({
                    type: "GET",
                    //url: "/MasterScheduler/GetEvents",
                    url: "@Url.Action("GetEvents", "MasterScheduler")",
                    success: function(data) {
                        $.each(data, function(i, v) {
                            //debugger;
                            events.push({
                                eventId: v.ID,
                                title: v.Title,
                                start: moment(v.ExpectedStartDate),
                                end: v.ExpectedEndDate != null ? moment(v.ExpectedEndDate) : null,
                                bgcolor: "#" + ((1 << 24) * Math.random() | 0).toString(16)
                        });
                    });

                        GenerateCalender(events);
                    },
                    error: function(error) {
                        alert('failed');
                    }
                })
            }

            debugger;

            function GenerateCalender(events) {
                debugger;
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: 'blue',
                    
                    eventTextColor: '#FFFFFF',
                    events: events,                   
                    //eventBackgroundColor: events.bgcolor,
                    //eventRender: function (events, element, view) {
                    //    $.each(events, function(i, v) {
                    //        if (v.bgcolor) {
                    //            element.css('eventColor', v.bgcolor);
                    //        }
                    //    });

                    //},
                    eventClick: function(calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("MM-DD-YYYY HH:mm a")));
                        if (calEvent.end != null) {

                            $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("MM-DD-YYYY HH:mm a")));
                        }
                        //$description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    },
                    selectable: true,
                    select: function(start, end) {
                        selectedEvent = {
                            eventId: 0,
                            title: '',
                            description: '',
                            start: ExpectedStartDate,
                            end: ExpectedEndDate,
                            allDay: false,
                            color: ''
                        };
                        openAddEditForm();
                        $('#calendar').fullCalendar('unselect');
                    },
                    editable: false,
                    eventDrop: function(event) {
                        debugger;
                        var data = {
                            ID: event.eventId,
                            Title: event.title,
                            //Start: event.start.format('MM/DD/YYYY HH:mm A'),
                            //End: event.end != null ? event.end.format('MM/DD/YYYY HH:mm A') : null,
                            ExpectedStartDate: event.start.format('MM/DD/YYYY'),
                            ExpectedEndDate: event.end != null ? event.end.format('MM/DD/YYYY') : null,

                            //Description: event.description,
                            //ThemeColor: event.color,
                            //IsFullDay: event.allDay
                        };
                        SaveEvent(data);
                    }
                })
               
            }

            //$('#btnEdit').click(function () {
            //    //Open modal dialog for edit event
            //    openAddEditForm();
            //})
            //$('#btnDelete').click(function () {
            //    if (selectedEvent != null && confirm('Are you sure?')) {
            //        $.ajax({
            //            type: "POST",
            //            url: '/Calender/DeleteEvent',
            //            data: { 'eventId': selectedEvent.eventId },
            //            success: function (data) {
            //                if (data.status) {
            //                    //Refresh the calender
            //                    FetchEventAndRenderCalendar();
            //                    $('#myModal').modal('hide');
            //                }
            //            },
            //            error: function () {
            //                alert('Failed');
            //            }
            //        })
            //    }
            //})

            $('#dtp1, #dtp2').datetimepicker({
                format: 'MM/DD/YYYY HH:mm A'
            });

            $('#chkIsFullDay').change(function() {
                if ($(this).is(':checked')) {
                    $('#divEndDate').hide();
                } else {
                    $('#divEndDate').show();
                }
            });

            function openAddEditForm() {
                debugger;
                if (selectedEvent != null) {
                    $('#hdEventID').val(selectedEvent.eventId);
                    $('#txtSubject').val(selectedEvent.title);
                    //$('#txtStart').val(selectedEvent.start.format('MM/DD/YYYY HH:mm A'));
                    $('#txtStart').val(selectedEvent.start.format('MM/DD/YYYY'));
                    $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                    $('#chkIsFullDay').change();
                    //$('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('MM/DD/YYYY HH:mm A') : '');
                    $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('MM/DD/YYYY') : '');
                    $('#txtDescription').val(selectedEvent.description);
                    $('#ddThemeColor').val(selectedEvent.color);
                }
                $('#myModal').modal('hide');
                $('#myModalSave').modal();
            }

            $('#btnSave').click(function() {
                //Validation/
                debugger;
                if ($('#txtSubject').val().trim() == "") {
                    alert('Subject required');
                    return;
                }
                if ($('#txtStart').val().trim() == "") {
                    alert('Start date required');
                    return;
                }
                if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
                    alert('End date required');
                    return;
                } else {
                    //var startDate = moment($('#txtStart').val(), "MM/DD/YYYY HH:mm A").toDate();
                    //var endDate = moment($('#txtEnd').val(), "MM/DD/YYYY HH:mm A").toDate();

                    //var startDate = moment($('#txtStart').val(), "MM/DD/YYYY HH:mm A").toDate();
                    //var endDate = moment($('#txtEnd').val(), "MM/DD/YYYY HH:mm A").toDate();
                    var startDate = moment($('#txtStart').val(), "MM/DD/YYYY").toDate();
                    var endDate = moment($('#txtEnd').val(), "MM/DD/YYYY").toDate();

                    if (startDate > endDate) {
                        alert('Invalid end date');
                        return;
                    }
                }

                var data = {
                    EventId: $('#hdEventID').val(),
                    Subject: $('#txtSubject').val().trim(),
                    Start: $('#txtStart').val().trim(),
                    End: $('#chkIsFullDay').is(':checked') ? null : $('#txtEnd').val().trim(),
                    Description: $('#txtDescription').val(),
                    ThemeColor: $('#ddThemeColor').val(),
                    IsFullDay: $('#chkIsFullDay').is(':checked')
                }
                //console.log(Start);

                SaveEvent(data);
                // call function for submit data to the server
            })

            function SaveEvent(data) {
                debugger;
                $.ajax({
                    type: "POST",
                    //url: '/MasterScheduler/SaveEvent',
                    url: "@Url.Action("SaveEvent", "MasterScheduler")",
                    datatype: 'json',
                    data: JSON.stringify({ manufactureOrderViewModel: data }),
                    contentType: 'application/json',
                    success: function(response) {
                        //$('#successModal').modal('show');
                        //$('#successModalText').text(response.data.Message);
                        if (data.status != null) {
                            //Refresh the calender
                            FetchEventAndRenderCalendar();
                            $('#myModalSave').modal('hide');
                        }
                    },
                    error: function() {
                        alert('Failed');
                    }
                })
            }
        })
    </script>

}

