﻿.kpi {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  /*height: auto;*/
  margin: 1rem;
  position: relative;
  width: auto;
}



.kpiDiv:hover {
  box-shadow: 0 6px 6px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.10);
}

.kpiDiv {
  box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);
}