@charset "utf-8";
/* CSS Document */

@media (min-width:1280px) and (max-width:1920px){
@charset "utf-8";
/* CSS Document */


/*body-start*/
body{
	background-color:#fbfbfb;
    margin:auto;
    padding:auto;
    font-family:Geneva,sans-serif;
    color:#777777;
	/*background-image:url('/content/themes/base/images/bg.png');*/
	 
}
.wrapper{
	 /*width:100%;*/
	 margin-left:auto;
     margin-right:auto;
	 min-height:400px;
	 position:absolute;
 }
 .wrapper-container{
	 float:left;
	 width:100%;
	 min-height:200px;
	/* background-image:url(/content/themes/base/images/bg.png);*/
	
}


/*custo-info-right-form-start-css*/
.right-icon-image{
	margin-top:0px;
	float:right;
	margin-right:0px;
}
.icon_rightarrow{
	background-image:url(/content/themes/base/images/icon_rightarrow.png);
	width:17px;
	height:17px;
	float:right;
	cursor:pointer;
	border:0px;
}
.margin-image-icon{
	background-image:url(/content/themes/base/images/custom_icon_.png);
	width:20px;
	height:20px;
	float:right;
}
.cross-button{
	background-image:url(/content/themes/base/images/cross-button.png);
	width:18px;
	height:18px;
	float:right;
	cursor:pointer;
	border:0px;
}
.geographical-position-header{
	color:#777777;
	height:20px;
	padding-bottom:3px;
	border-bottom:solid 0px   #D8D8D8;
	margin-top:5px;
	font-size:14px;
	font-family:serif;
	font-weight:normal;
	margin-left:5px;
	background:url(/content/themes/base/images/sidebar-border-template.png) no-repeat left bottom;
}
.right-sidebar-header{
	color:#777777;
	height:20px;
	padding-bottom:3px;
	border-bottom:solid 0px   #D8D8D8;
	margin-top:5px;
	margin-bottom:3px;
	font-size:18px;
	font-family:serif;
	font-weight:normal;
	margin-left:5px;
    padding-bottom:8px;
	background:url(/content/themes/base/images/sidebar-separator-header.png) no-repeat left bottom;
}
.descri{
	margin-left:5px;
}
.height{
	width:350px;
	height:10px;
	float:left;
}
.height-midd{
	width:350px;
	height:25px;
	float:left;
}

.customer-info-middle-side-form{
	float:right;
	width:27%;
	min-height:200px;
	border-right:solid 0px #D8D8D8;
    border-left:solid 1px #D8D8D8;
	border-top:solid 0px #D8D8D8;
	border-bottom:solid 0px #D8D8D8;
	padding:5px 5px 5px 5px;
	background-color:none;
}
.custo-info-right-form{
	float:left;
	width:90%;
	min-height:40px;
	-webkit-border-radius: 8px;
   -moz-border-radius: 8px;
    border-radius: 8px;
	background-color:none;
	border:  #D8D8D8 solid 0px;
	background:none;
	behavior: url(ie-css3.htc);
}
.form_text1 {
	margin-right:30px;
	text-align:left;
	font-size:11px;
	font-family:Geneva, sans-serif;
    color:#777777;
	height:23px;
	width:45%;
}
.form_text {
	width:100px;
	font-size:11px;
	height:23px;
	font-family:Geneva, sans-serif;
    color:#777777;
}
.form_text_texrarea {
	width:170px;
	font-size:11px;
	height:23px;
	font-family:Geneva, sans-serif;
    color:#777777;
}
.form_text_conversion {
	width:80px;
	font-size:11px;
	height:23px;
	font-family:Geneva, sans-serif;
    color:#777777;
}
.form_text_status {
	width:100px;
	font-size:11px;
	font-family:Georgia, "Times New Roman", Times, serif;
	height:23px;
	font-family:Geneva, sans-serif;
    color:#777777;
}
.form_text_delivery-date {
	width:100px;
	font-size:12px;
	font-family:Geneva, sans-serif;
    color:#777777;
	height:25px;
}
.input-test {
    border:solid 1px   #D8D8D8;
	width:228px;
	background-color:#e9e9e8;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
     border-radius: 4px;
}

.input {
    border:solid 1px   #D8D8D8;
	width:100%;
	background-color:#e9e9e8;
	border: 1px solid #d8d8d8;
    border-radius: 4px 4px 4px 4px;
   
}
.input:focus {
   background-color:#e9e9e8;
  -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
}

.table-box-custo-infor{
	width:100%;
	min-height:20px;
	background-color:none;
}
.table-box-custo{
	width:100%;
	min-height:20px;
	background-color:none;
}
.table-box{
	background-color:none;
	margin-top:10px;
	margin-left:0px;
}
.select-box_delivery{
	width:100%;
	border:solid 1px   #D8D8D8;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
   
}

.input_date:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
   background-color:#ffffff;
}

.datepicker{
	background-image:url(/content/themes/base/images/datepicker.png);
	width:19px;
	height:19px;
	cursor:pointer;
	border:0px;
}

.side-bar-border{
	background-image:url(/content/themes/base/images/side-bar-border.png);
	width:24px;
	height:3px;
}

.Search-button{
	 
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 1px;
    min-width: 75px;
    padding: 5px;
	margin-left:10px;
	color:#666666;
	background: #f0f0f0; /* Old browsers */
background: -moz-linear-gradient(top,  #f0f0f0 0%, #fbfbfb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#fbfbfb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f0f0f0 0%,#fbfbfb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f0f0f0 0%,#fbfbfb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f0f0f0 0%,#fbfbfb 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f0f0f0 0%,#fbfbfb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-9 */

    
}
.Search-button:hover{
	margin-left:10px;
     background: #e2dfd7; /* Old browsers */
background: -moz-linear-gradient(top,  #e2dfd7 0%, #f7f6f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2dfd7), color-stop(100%,#f7f6f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e2dfd7 0%,#f7f6f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e2dfd7 0%,#f7f6f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e2dfd7 0%,#f7f6f5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e2dfd7 0%,#f7f6f5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2dfd7', endColorstr='#f7f6f5',GradientType=0 ); /* IE6-9 */

    border-color: #bbbbbb;
    border-style: solid;
    border-width: 1px;
    min-width: 75px;
    padding: 5px;
	color:#000000;
    
}
.save-button{
	/*background-image:url(/content/themes/base/images/package_button.png);*/
	background-image:url(/content/themes/base/images/button_add.png);
	width:70px;
	border:1px solid #D8D8D8;
	padding-top:3px;
	padding-bottom:3px;	
	margin-top:-10px;
	color:#000000;
	cursor:pointer;
   -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
    
}
#save-button:hover{
	background: #e2dfd7; /* Old browsers */
background: -moz-linear-gradient(top,  #e2dfd7 0%, #f7f6f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2dfd7), color-stop(100%,#f7f6f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e2dfd7 0%,#f7f6f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e2dfd7 0%,#f7f6f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e2dfd7 0%,#f7f6f5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e2dfd7 0%,#f7f6f5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2dfd7', endColorstr='#f7f6f5',GradientType=0 ); /* IE6-9 */
	width:70px;
	border:1px solid #929aa5;
	padding-top:3px;
	padding-bottom:3px;	
	margin-top:-10px;
	color:#000000;
	cursor:pointer;
   -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
    
}
.more-button{
	 margin-top:3px;
	text-align:right;
}
.more-text{
	font-size:12px;
	text-decoration:none;
	color:#777777;
	font-family:Georgia,serif;
}
.more-text:hover{
	color:red;
}
.more-text1{
	font-size:12px;
	text-decoration:none;
	color:#0578FF;
	font-family:Geneva, sans-serif;
}
.more-text1:hover{
	color:#777777;
}
#button{
	background-image:url(/content/themes/base/images/more-button.png);
	width:59px;
	height:22px;
	padding-bottom:3px;
	border:0px;
	margin-button:20px;
	cursor:pointer;
	color:#ffffff;
	font-weight:normal;
	-webkit-border-radius:10px;
    -moz-border-radius:10px;
     border-radius:10px;
}
#button:hover{
	background-image:url(/content/themes/base/images/more-button-hover.png);
	width:59px;
	height:22px;
	padding-bottom:3px;
	border:0px;
	margin-button:20px;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	-webkit-border-radius:10px;
    -moz-border-radius:10px;
     border-radius:10px;
}
/*custo-info-right-form-end-css*/
/*coustomer-information-wrapper-css-end*/
/*right-sidebar-css-start*/
.right-sidebar-wrapper{
	padding-top:9px;
	float:right;
	width:28px;
	background-image:url(/content/themes/base/images/sidebar-bg.png); 
    border-right:solid 1px #D8D8D8;
    border-left:solid 1px #D8D8D8;
    border-top:solid 1px #D8D8D8;
    border-bottom:solid 1px #D8D8D8;
   -webkit-border-top-left-radius:8px;
   -webkit-border-bottom-left-radius:8px;
   -moz-border-radius-topleft:8px;
   -moz-border-radius-bottomleft:8px;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    height:500px;
	margin-top:50px;
}
.sidebar-template-wrapper{
	float:right;
	padding-top:7px;
	background-color:none;
	border-bottom:#D8D8D8 solid 0px;
	margin-bottom:2px;
}

.jquery-button-div{
	margin-left:4px;
	
}
.img-div{
	margin-top:5px;
	margin-bottom:5px;
}
h3{ margin-left:3px;
    margin-top:-1px;
    margin-right:4px;
    padding:4px 0 7px 4px;
	font-size:12px;
    border-bottom:solid 1px   #D8D8D8;
	font-family:Georgia,serif;
	color:#777777;
}
.height-side{
	width:100%;
	height:13px;
}
.right-sidebar-template-box{
	margin-top:-1px;
	margin-left:0px;
	background:#FBFBFB;
	width:210px;
	min-height:100px;
	padding:0px 6px 6px 6px;
	border:solid 1px   #D8D8D8;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
     border-radius: 8px;
}
p{
	text-align:justify;
	font-size:10px;
	line-height:15px;
    margin-top:-40px;
	margin:0px 5px 0 5px;
	font-family:Geneva, sans-serif;
}
.height-side-header{
	width:100%;
	height:1px;
}

ul{
	list-style-type:none;
	padding:0px;
	margin-top:-8px;
	margin-left:14px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#777777;
}
#help-list-item{
	line-height:19px;
	list-style:none;
	font-size:11px;
	padding-left:20px;
	background-image:url(/content/themes/base/images/bullet.png);
	background-repeat:no-repeat;
	background-position:0px 5px;
}
.customer{
	margin-left:3px;
}

/*product-description-css-start-table*/
#table-border {
	border-top:#D8D8D8 0px solid;
	border-left:#D8D8D8 0px solid;
	border-right:#D8D8D8 0px solid;
	border-bottom:#D8D8D8 0px solid;
	table-layout:fixed;
    overflow:scroll;  
}
#scrol{
  height:300px;/*do not change */
  overflow:auto;  
  margin-top:20px;
  }


#table-border-right-bottom {
	font-weight:bold;
	color:#777777;
	/*background: #ffffff; */
	font-size:12px;
	border-top:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 0px solid;
	border-bottom:  #D8D8D8 1px solid;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}
#table-border-bottom {
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	font-size:12px;
	color:#777777;
	/*background-color:#f5f5f5;*/
	font-family:Arial, Helvetica, sans-serif;
	height:22px;
	}
#table-border-bottom-left {
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 1px solid;
	border-top:  #D8D8D8 0px solid;
	font-size:12px;
	padding-left:12px;
	color:#777777;
	font-family:Arial, Helvetica, sans-serif;
}
.arrow-right{
	background-image:url(/content/themes/base/images/down-arrow-button.png);
	width:13px;
	height:11px;
	float:right;
	margin-right:5px;
}
.cross-icon{
	background-image:url(/content/themes/base/images/cross-icon.png);
	width:16px;
	height:16px;
    margin-right:5px;
}
.next-button-previous-button-wrapper{
	margin-top:10px;
	height:30px;
	background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjM2U0ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #c3e4f7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#c3e4f7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#c3e4f7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#c3e4f7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#c3e4f7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#c3e4f7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c3e4f7',GradientType=0 ); /* IE6-8 */
border:solid 1px   #D8D8D8;
}
.previous_button{
	background-image:url(/content/themes/base/images/previous-button.png);
	width:20px;
	height:18px;
	border:0px;
}
.previous_button2{
	background-image:url(/content/themes/base/images/previous-button2.png);
	width:18px;
	height:18px;
	border:0px;
}
.next-button{
	background-image:url(/content/themes/base/images/next-button.png);
	width:18px;
	height:18px;
	border:0px;
}
.next-button2{
	background-image:url(/content/themes/base/images/next-button2.png);
	width:18px;
	height:18px;
	border:0px;
}
.table-pre-next-button{
	line-height:24px;
	margin-left:10px;
	float:left;
}
.item-ninepages{
	line-height:30px;
	float:right;
	font-size:12px;
	margin-right:20px;
}
.total-info-left-form{
	padding:0px 5px 10px 5px;
	margin-top:10px;
	margin-right:22px;
	float:right;
	width:84.8%;
	min-height:40px;
	background:#FBFBFB;
	-webkit-border-radius: 8px;
   -moz-border-radius: 8px;
    border-radius: 8px;
	border:1px solid   #D8D8D8;
}
.form_text_d2{
	font-size:11px;
	font-family:Geneva, sans-serif;
}
.input_t2{
	border:solid 1px   #D8D8D8;
	width:50px;
	background-color:#e9e9e8;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
    
}
.input_t2:focus {
   background-color:#e9e9e8;
  -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
}
.bottom-border{
	float:left;
	margin-left:-7px;
}
/*country-start-css*/
.country-sales-information-table-wrapper{
	margin-left:130px;
	float:left;
	margin-top:10px;
	width:61.5%;
}
#table-border-country-right-bottom {
	font-weight:bold;
	color:#777777;
	background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjM2U0ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #c3e4f7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#c3e4f7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#c3e4f7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#c3e4f7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#c3e4f7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#c3e4f7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c3e4f7',GradientType=0 ); /* IE6-8 */
	font-size:12px;
	padding-top:5px;
	padding-bottom:5px;
	border-top:  #D8D8D8 0px solid;
	border-left:  #D8D8D8 0px solid;
	border-right:  #D8D8D8 0px solid;
	border-bottom:  #D8D8D8 0px solid;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:15px;
}
#table-country-border-bottom {
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	font-size:12px;
	color:#777777;
	background-color:#f5f5f5;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:15px;
}
#table-country-border-bottom-left {
	background-color:#f5f5f5;
	border-bottom:#D8D8D8 1px solid;
	border-right:#D8D8D8 1px solid;
	border-left:#D8D8D8 1px solid;
	border-top:#D8D8D8 0px solid;
	font-size:12px;
	color:#777777;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:15px;
}


.new-country-left-form{
	padding:0px 5px 10px 5px;
	margin-top:10px;
	margin-left:130px;
	float:left;
	width:60.5%;
	min-height:40px;
	background:#FBFBFB;
	-webkit-border-radius: 8px;
   -moz-border-radius: 8px;
    border-radius: 8px;
	border:1px solid   #D8D8D8;
}
.form-new-country{
	text-align:left;
	font-size:12px;
	font-family:Geneva, sans-serif;
    color:#777777;
	width:159px;
	height:23px;
}
.input_country{
	border:solid 1px   #D8D8D8;
	width:180px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
    border: 1px solid #d8d8d8;
    border-radius: 4px 4px 4px 4px;
    
}

.input_country:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
}
.input_code{
	border:solid 1px #D8D8D8;
	width:90px;
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
	border: 1px solid #d8d8d8;
    border: 1px solid #d8d8d8;
    border-radius: 4px 4px 4px 4px;
    
}

.input_code:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
}
.cancel-save-button{
	padding-top:12px;
}

#table-border-country-right-bottom-country{
	font-weight:bold;
	color:#777777;
	/*background: #ffffff;*/
	font-size:12px;
	padding-bottom:3px;
	text-align:center;
	border-top:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	border-bottom:  #D8D8D8 1px solid;
	font-family:Arial, Helvetica, sans-serif;
	width:60px;

}
.excel{
	background-image:url(/content/themes/base/images/excel.png);
	width:16px;
	height:16px;
	border:0px;
	margin-left:5px;

}
/*.collection{
	background-image:url(/content/themes/base/images/collection.png);
	width:28px;
	height:28px;
	border:0px;
	float:right;
	cursor:pointer;
}*/
.date_picker_icon{
	background-image:url("/content/themes/base/images/date_picker_icon.png");
	width:19px;
	height:19px;
	border:0px;
	margin-left:8px;
}	
.top-arrow{
	background-image:url("/content/themes/base/images/top-arrow.png");
	width:20px;
	height:20px;
	border:0px;
	float:left;
	cursor:pointer;
}	

.collection-border{
	
	width:21px;
	float:right;
	margin-right:8px;
}
.next-preview-button{
	background-image:url(/content/themes/base/images/next-preview-button.png);
	width:25px;
	height:25px;
	border:0px;
	cursor:pointer;
}
.pre-preview-button{
	background-image:url(/content/themes/base/images/pre-preview-button.png);
	width:25px;
	height:25px;
	border:0px;
	cursor:pointer;
}
.pdf{
	background-image:url(/content/themes/base/images/pdf.png);
	width:69px;
	height:92px;
	border:0px;
}


/*set-up-new-product-css-start*/
.tab-wrapper-set-upnewproduct-wrapper{
	float:right;
	margin-right:80px;
	border:1px solid   #D8D8D8;
	width:85%;
	margin-top:5px;
}

.set-up-newproduct-form-wrapper{
	margin-top:0px;
	min-height:80px;
    background:none;
	float:left;
	width:98%;
	margin-bottom:15px;
}
.additional-classification-form{
	float:right;
	margin-right:5px;
	width:98%;
	min-height:40px;
	margin-top:-10px;
}
.inventory-left-table-box{
	width:30%;
	background-color:none;
	min-height:40px;
	margin-top:-23px;
	
}
.additional-left-table-box{
	width:95%;
	background-color:none;
	min-height:40px;
	padding-top:10px;
}
.additional-right-table-box{
	float:left;
	background-color:none;
	min-height:40px;
	width:95%;
}
.clacification-right-table-box{
	margin-top:-50px;
	float:right;
	background-color:none;
	min-height:40px;
}
.attachment-right-table-box{
	margin-top:-105px;
	float:left;
	background-color:none;
	min-height:40px;
}
.inventory-right-table-box{
	padding-top:10px;
	background-color:none;
	min-height:40px;
}

.warranty-left-table-box{
	width:30%;
	background-color:none;
	min-height:40px;
	margin-top:-15px;
}
.select_box_additional{
    border:solid 1px #D8D8D8;
	width:190px;
    webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
    
}



.input_hscode{
	border:solid 1px #D8D8D8;
	width:100%;

	border: 1px solid #d8d8d8;
}
/*.input_hscode:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
   background-color:#ffffff;
}*/
.input_partcode{
	border:solid 1px #D8D8D8;
	width:207px;
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
	border: 1px solid #d8d8d8;
}
.input_partcode:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
   background-color:#ffffff;
}
.input_hscode2{
	border:solid 1px #D8D8D8;
	width:256px;
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
	border: 1px solid #d8d8d8;
}
/*.input_hscode2:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
   background-color:#ffffff;
}*/
.input_hscode_pre{
	border:solid 1px #D8D8D8;
	width:72%;
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
	border: 1px solid #d8d8d8;
}
.input_hscode_pre:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
   background-color:#ffffff;
}

.form-subgroup {
	font-size:12px;
	height:23px;
	font-family:Geneva, sans-serif;
    color:#777777;

}
.form-subgroup2 {
    width:130px;
	font-size:11px;
	height:23px;
	font-family:Geneva, sans-serif;
    color:#777777;
}

.input_height{
	border:solid 1px   #D8D8D8;
	width:90px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
    
}
.input_height:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
   background-color:#ffffff;
}



.new-product-table-wrapper{
	width:100%;
	/*margin-right:80px;*/
	float:right;
	margin-top:10px;
    font-size: 12px;
    -webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
background-color:#fbfbfb;
border-top:0px solid #D8D8D8;
border-bottom:1px solid #D8D8D8;
border-left:1px solid #D8D8D8;
border-right:1px solid #D8D8D8;
    
}

.bottom-table-wrapper{
	width:85%;
	margin-right:80px;
	float:right;
	margin-top:10px;
    font-size: 12px;
    -webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
background-color:#fbfbfb;
border-top:1px solid #D8D8D8;
border-bottom:1px solid #D8D8D8;
border-left:1px solid #D8D8D8;
border-right:1px solid #D8D8D8;
    
}

.deliver_datewraper{
	width:100%;
	/*margin-right:80px;*/
	float:right;
    font-size: 12px;
    }

.middle_deliver_datewraper{
	width:85%;
	margin-right:80px;
	float:right;
	margin-top:7px;
    font-size: 12px;
      -webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
background-color:#fbfbfb;
border-top:1px solid #D8D8D8;
border-bottom:1px solid #D8D8D8;
border-left:1px solid #D8D8D8;
border-right:1px solid #D8D8D8;
/*padding-top:2px;
padding-bottom:6px;*/
}

.product-image{
	margin-top:-94px;
}
.browse-button{
	margin-top:0px;
	margin-left:42px;
}


.select-button-margin{
	margin-top:7px;
	margin-left:-65px;
}
.select-but{
	/*background-image:url(/content/themes/base/images/package_button.png);*/
	background-image:url(/content/themes/base/images/button_add.png);
	width:60px;
	border:1px solid  #D8D8D8;
	padding-top:2px;
	padding-bottom:2px;	
	margin-top:-10px;
	color:#000000;
	cursor:pointer;
    margin-left:10px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
	font-size:10px;
    
}
.select-but:hover{
	font-size:10px;
	background: #e2dfd7; /* Old browsers */
background: -moz-linear-gradient(top,  #e2dfd7 0%, #f7f6f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2dfd7), color-stop(100%,#f7f6f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e2dfd7 0%,#f7f6f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e2dfd7 0%,#f7f6f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e2dfd7 0%,#f7f6f5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e2dfd7 0%,#f7f6f5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2dfd7', endColorstr='#f7f6f5',GradientType=0 ); /* IE6-9 */

	width:60px;
	border:1px solid #929aa5;
	padding-top:2px;
	padding-bottom:2px;	
	margin-top:-10px;
	color:#000000;
	cursor:pointer;
    margin-left:10px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
    
}


.button-wrapper{
    margin-top:7px;
	margin-left:25px;
	float:left;
	margin-left:16.2%;
}
.addition-margin{
	margin-left:5px;
}
.table-wrapper{
	float:right;
	margin-left:50px;
}




/*set-up-new-product-css-end*/

/*start_css*/

.wrap_datefrom{
   width:100%;
}
.wrap_datepicker{
   width:366px;
   background-color:#ffffff;
   margin-left:16.6%;
}

.input_date{
	border:solid 1px #D8D8D8;
	width:73%;
	border: 1px solid #d8d8d8;
}
/*.input_date:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
   background-color:#ffffff;
}*/
.ui-datepicker-trigger
{
    width:19px;
	height:19px;
	border:0px;
	margin-left:1px;
    float: right;
	
}
.wrap_dateconfactionary{
    background-image: url("/content/themes/base/images/bg.png");
   width:50%;
   min-height:80px;
   
   width: 61.1%;
   margin-top:5px;
   margin-left:-6px;
   padding-left:130px;
}

#cell-border-confactionary{
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	font-size:11px;
	color:#777777;
	/*background-color:#f5f5f5;*/
	font-family:Arial, Helvetica, sans-serif;
	height:22px;
	/*padding-left:2px;
	padding-right:2px;*/
}
#cell-border-confactionary-left {
	background-color:#f5f5f5;
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 1px solid;
	border-top:  #D8D8D8 0px solid;
	font-size:12px;
	padding-left:2px;
	color:#777777;
	font-family:Arial, Helvetica, sans-serif;
	 background-image: url("/content/themes/base/images/bg.png");
	 
}
#cell-border-confactionary-leftnew {
	background-color:#f5f5f5;
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 1px solid;
	border-top:  #D8D8D8 0px solid;
	font-size:11px;
	padding-left:2px;
	color:#777777;
	font-family:Arial, Helvetica, sans-serif;
	/* background-image: url("/content/themes/base/images/bg.png");*/
	 
}
.addbutton_wrap{
   width:99.8%;
   min-height:22px;
   background-color:#0000000;
   border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 1px solid;
	border-top:  #D8D8D8 0px solid;}
	
.button_bottom-wrapper{
    margin-top:15px;
	float:left;
	margin-left:45.8%;
	margin-bottom:8px;
}


.input_readonly{
	border:solid 1px #D8D8D8;
	width:97%;
	border: 0px solid #d8d8d8;
	height:20px;
	font-size:11px;
	background-color: #E0DFE1;
}
.input_text{
	width:96%;
	height:20px;
	font-size:11px;
	border:0px;
	/*background-image: url("/content/themes/base/images/bg.png");*/
	background-color: #FFFFFF;
}
.input_text_br{
	width:93%;
	height:20px;
	font-size:11px;
	border:0px;
	/*background-image: url("/content/themes/base/images/bg.png");*/
	background-color: #FFFFFF;
}

.input_readonly_total{
	border:solid 1px #D8D8D8;
	width:100%;
	border: 0px solid #d8d8d8;
	height:20px;
	font-size:11px;
	font-weight:bold;
	color: #00ff00;
	background-color: #E0DFE1;
	
}


.button_add{
    text-decoration:none;
	margin-left:2px;
}
/*end_css*/



element.style
{
   width:0px !important; 
}
.Date_range{
  width:80px;
  float:left;
  color: #777777;
  font-family: Geneva,sans-serif;
  font-size: 12px;
  margin-left:7px;
  margin-top:5px;
}
#table-border-bottom-left_grid {
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 0px solid;
	border-left:  #D8D8D8 1px solid;
	border-top:  #D8D8D8 0px solid;
	font-size:12px;
	padding-left:12px;
	color:#777777;
	font-family:Arial, Helvetica, sans-serif;
}
#table-border-bottom-left_plus {
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 0px solid;
	border-top:  #D8D8D8 0px solid;
	font-size:18px;
	/*padding-left:8px;*/
	padding-right:16px;
	color:#777777;
	font-family:Arial, Helvetica, sans-serif;
}
							   
.child 
{
    border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 1px solid;
	border-top:  #D8D8D8 1px solid;

    
}							   														   						
.delete_icon{
	background-image:url(/content/themes/base/images/delete_icon.png);
	width:28px;
	height:28px;
	border:0px;
	float:right;
	cursor:pointer;
}		

#table-border-right-bottom_date {
	font-weight:bold;
	color:#777777;
	/*background: #ffffff; */
	font-size:12px;
	border-top:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 0px solid;
	border-bottom:  #D8D8D8 1px solid;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}		


#table-border-right-bottom_emty {
	font-weight:bold;
	color:#777777;
	/*background: #ffffff; */
	font-size:12px;
	border-top:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 0px solid;
	border-right:  #D8D8D8 0px solid;
	border-bottom:  #D8D8D8 1px solid;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}		  		


.orderdelete
{
    border:0px;
    background-color:none;
    background-image:url(/content/themes/base/images/cross_button.png);
	width:18px;
	height:18px;
	border:0px;
	float:left;
	margin-left:10px;
	cursor:pointer;}	
	
.detaildelete{
    border:0px;
    background-color:none;
    background-image:url(/content/themes/base/images/cross_button.png);
	width:18px;
	height:18px;
	border:0px;
	float:left;
	margin-left:10px;
	cursor:pointer;}	
	
#table-border-bottom-left_grid2 {
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 0px solid;
	border-left:  #D8D8D8 1px solid;
	border-top:  #D8D8D8 1px solid;
	font-size:12px;
	padding-left:0px;
	color:#777777;
	font-family:Arial, Helvetica, sans-serif;
}		  

#table-border-bottom-left_plus2 {
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 0px solid;
	border-top:  #D8D8D8 1px solid;
	font-size:18px;
	padding-left:8px;
	color:#777777;
	font-family:Arial, Helvetica, sans-serif;
}

.neworder-header{
	color:#777777;
	height:20px;
	padding-bottom:3px;
	border-bottom:solid 0px   #D8D8D8;
	margin-top:5px;
	font-size:14px;
	font-family:serif;
	font-weight:normal;
	margin-left:5px;
	background:url(/content/themes/base/images/sidebar-border-template.png) no-repeat left bottom;
}		

.header_colum	
{
    width:6.1%;}
#scroll{
  height:300px;/*do not change */
  overflow:auto; 
  }  
  
  .header_colum_invoice	
{
    width:10.1%;}
.out_nameInput
{
    
    padding-left:2px;}	
.out_nameInput_header
{
    }		   						 
}



							   
							   														   						
					  						  			  						   						 
@media (min-width:640px) and (max-width:767px){
/*body-start*/
body{
	background-color:#ffffff;
    margin:auto;
    padding:auto;
    font-family:Geneva,sans-serif;
    color:#777777;
	background-image:url('/content/themes/base/images/bg.png');
	 
}
.wrapper{
    /* width:1348px;*/
	/* width:100%;*/
	 margin-left:auto;
     margin-right:auto;
	 min-height:400px;
	 position:absolute;
 }
 .wrapper-container{
	 float:left;
	 width:100%;
	 min-height:200px;
	 background-image:url('/content/themes/base/images/bg.png');
	
}



.search-bottom-header{
	color:#777777;
	height:20px;
	padding-bottom:3px;
	border-bottom:solid 0px   #D8D8D8;
	margin-top:5px;
	font-size:16px;
	font-family:serif;
	font-weight:normal;
	margin-left:5px;
	background:url(../images/sidebar-border-template.png) no-repeat left bottom;
}
.right-sidebar-header{
	color:#777777;
	height:20px;
	padding-bottom:3px;
	border-bottom:solid 0px   #D8D8D8;
	margin-top:5px;
	margin-bottom:3px;
	font-size:18px;
	font-family:serif;
	font-weight:normal;
	margin-left:5px;
    padding-bottom:8px;
	background:url(../images/sidebar-separator-header.png) no-repeat left bottom;
}
.descri{
	margin-left:5px;
}
.height{
	width:350px;
	height:10px;
	float:left;
}
.height-midd{
	width:350px;
	height:25px;
	float:left;
}

.customer-info-middle-side-form{
	float:right;
	width:27%;
	min-height:200px;
	border-right:solid 0px #D8D8D8;
    border-left:solid 1px #D8D8D8;
	border-top:solid 0px #D8D8D8;
	border-bottom:solid 0px #D8D8D8;
	padding:5px 5px 5px 5px;
	background-color:none;
}
.custo-info-right-form{
	float:left;
	width:90%;
	min-height:40px;
	-webkit-border-radius: 8px;
   -moz-border-radius: 8px;
    border-radius: 8px;
	background-color:none;
	border:  #D8D8D8 solid 0px;
	background:none;
	behavior: url(ie-css3.htc);
}
.form_text1 {
	margin-right:30px;
	text-align:left;
	font-size:11px;
	font-family:Geneva, sans-serif;
    color:#777777;
	height:23px;
	width:45%;
}
.form_text {
	width:100px;
	font-size:11px;
	height:23px;
	font-family:Geneva, sans-serif;
    color:#777777;
}
.form_text_texrarea {
	width:170px;
	font-size:11px;
	height:23px;
	font-family:Geneva, sans-serif;
    color:#777777;
}
.form_text_conversion {
	width:80px;
	font-size:11px;
	height:23px;
	font-family:Geneva, sans-serif;
    color:#777777;
}
.form_text_status {
	width:100px;
	font-size:11px;
	font-family:Georgia, "Times New Roman", Times, serif;
	height:23px;
	font-family:Geneva, sans-serif;
    color:#777777;
}
.form_text_delivery-date {
	width:100px;
	font-size:12px;
	font-family:Geneva, sans-serif;
    color:#777777;
	height:25px;
}
.input-test {
    border:solid 1px   #D8D8D8;
	width:228px;
	background-color:#e9e9e8;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
     border-radius: 4px;
}

.input {
    border:solid 1px   #D8D8D8;
	width:100%;
	background-color:#e9e9e8;
	border: 1px solid #d8d8d8;
    border-radius: 4px 4px 4px 4px;
   
}
.input:focus {
   background-color:#e9e9e8;
  -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
}

.table-box-custo-infor{
	width:100%;
	min-height:20px;
	background-color:none;
}
.table-box-custo{
	width:100%;
	min-height:20px;
	background-color:none;
}
.table-box{
	background-color:none;
	margin-top:10px;
	margin-left:0px;
}
.select-box_delivery{
	width:100%;
	border:solid 1px   #D8D8D8;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
   
}

/*.input_date:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
   background-color:#ffffff;
}*/

.datepicker{
	background-image:url(../images/datepicker.png);
	width:19px;
	height:19px;
	cursor:pointer;
	border:0px;
}

.side-bar-border{
	background-image:url(../images/side-bar-border.png);
	width:24px;
	height:3px;
}

.Search-button{
	 
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 1px;
    min-width: 75px;
    padding: 5px;
	margin-left:10px;
	background: #f0f0f0; /* Old browsers */
background: -moz-linear-gradient(top,  #f0f0f0 0%, #fbfbfb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#fbfbfb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f0f0f0 0%,#fbfbfb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f0f0f0 0%,#fbfbfb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f0f0f0 0%,#fbfbfb 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f0f0f0 0%,#fbfbfb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-9 */

    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px; 
    color:#666666; 

    
}
.Search-button:hover{
	margin-left:10px;
    background-color: #9a9a9a;
    border-color: #bbbbbb;
    border-style: solid;
    border-width: 1px;
    min-width: 75px;
    padding: 5px;
	color:#ffffff;
    
}
.save-button{
	/*background-image:url(../images/package_button.png);*/
	background-image:url(../images/button_add.png);
	width:70px;
	border:1px solid #D8D8D8;
	padding-top:3px;
	padding-bottom:3px;	
	margin-top:-10px;
	color:#000000;
	cursor:pointer;
   -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
    
}
#save-button:hover{
	background: #e2dfd7; /* Old browsers */
background: -moz-linear-gradient(top,  #e2dfd7 0%, #f7f6f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2dfd7), color-stop(100%,#f7f6f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e2dfd7 0%,#f7f6f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e2dfd7 0%,#f7f6f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e2dfd7 0%,#f7f6f5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e2dfd7 0%,#f7f6f5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2dfd7', endColorstr='#f7f6f5',GradientType=0 ); /* IE6-9 */
	width:70px;
	border:1px solid #929aa5;
	padding-top:3px;
	padding-bottom:3px;	
	margin-top:-10px;
	color:#666666;
	cursor:pointer;
   -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
    
}
.more-button{
	 margin-top:3px;
	text-align:right;
}
.more-text{
	font-size:12px;
	text-decoration:none;
	color:#777777;
	font-family:Georgia,serif;
}
.more-text:hover{
	color:red;
}
.more-text1{
	font-size:12px;
	text-decoration:none;
	color:#0578FF;
	font-family:Geneva, sans-serif;
}
.more-text1:hover{
	color:#777777;
}
#button{
	background-image:url(../images/more-button.png);
	width:59px;
	height:22px;
	padding-bottom:3px;
	border:0px;
	margin-button:20px;
	cursor:pointer;
	color:#ffffff;
	font-weight:normal;
	-webkit-border-radius:10px;
    -moz-border-radius:10px;
     border-radius:10px;
}
#button:hover{
	background-image:url(../images/more-button-hover.png);
	width:59px;
	height:22px;
	padding-bottom:3px;
	border:0px;
	margin-button:20px;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	-webkit-border-radius:10px;
    -moz-border-radius:10px;
     border-radius:10px;
}
/*custo-info-right-form-end-css*/
/*coustomer-information-wrapper-css-end*/
/*right-sidebar-css-start*/
.right-sidebar-wrapper{
	padding-top:9px;
	float:right;
	width:28px;
	background-image:url(../images/sidebar-bg.png); 
    border-right:solid 1px #D8D8D8;
    border-left:solid 1px #D8D8D8;
    border-top:solid 1px #D8D8D8;
    border-bottom:solid 1px #D8D8D8;
   -webkit-border-top-left-radius:8px;
   -webkit-border-bottom-left-radius:8px;
   -moz-border-radius-topleft:8px;
   -moz-border-radius-bottomleft:8px;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    height:500px;
	margin-top:50px;
}
.sidebar-template-wrapper{
	float:right;
	padding-top:7px;
	background-color:none;
	border-bottom:#D8D8D8 solid 0px;
	margin-bottom:2px;
}

.jquery-button-div{
	margin-left:4px;
	
}
.img-div{
	margin-top:5px;
	margin-bottom:5px;
}
h3{ margin-left:3px;
    margin-top:-1px;
    margin-right:4px;
    padding:4px 0 7px 4px;
	font-size:12px;
    border-bottom:solid 1px   #D8D8D8;
	font-family:Georgia,serif;
	color:#777777;
}
.height-side{
	width:100%;
	height:13px;
}
.right-sidebar-template-box{
	margin-top:-1px;
	margin-left:0px;
	background:#FBFBFB;
	width:210px;
	min-height:100px;
	padding:0px 6px 6px 6px;
	border:solid 1px   #D8D8D8;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
     border-radius: 8px;
}
p{
	text-align:justify;
	font-size:10px;
	line-height:15px;
    margin-top:-40px;
	margin:0px 5px 0 5px;
	font-family:Geneva, sans-serif;
}
.height-side-header{
	width:100%;
	height:1px;
}

ul{
	list-style-type:none;
	padding:0px;
	margin-top:-8px;
	margin-left:14px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#777777;
}
#help-list-item{
	line-height:19px;
	list-style:none;
	font-size:11px;
	padding-left:20px;
	background-image:url(../images/bullet.png);
	background-repeat:no-repeat;
	background-position:0px 5px;
}
.customer{
	margin-left:3px;
}

/*product-description-css-start-table*/
#table-border {
	border-top:#D8D8D8 0px solid;
	border-left:#D8D8D8 0px solid;
	border-right:#D8D8D8 0px solid;
	border-bottom:#D8D8D8 0px solid;
}
#table-border-right-bottom {
	font-weight:bold;
	color:#777777;
	/*background: #ffffff; */
	font-size:12px;
	border-top:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 0px solid;
	border-bottom:  #D8D8D8 1px solid;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}
#table-border-right-bottom2 {
	font-weight:bold;
	color:#777777;
	/*background: #ffffff; */
	font-size:12px;
	border-top:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	border-bottom:  #D8D8D8 1px solid;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}
#table-border-bottom {
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	font-size:12px;
	color:#777777;
	/*background-color:#f5f5f5;*/
	font-family:Arial, Helvetica, sans-serif;
	height:22px;
	/*padding-left:6px;*/
}
#table-border-bottom3{
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	font-size:12px;
	color:#777777;
	/*background-color:#f5f5f5;*/
	font-family:Arial, Helvetica, sans-serif;
	height:22px;
	/*padding-left:6px;*/
}
#table-border-bottom-left {
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 1px solid;
	border-top:  #D8D8D8 0px solid;
	font-size:12px;
	padding-left:7px;
	padding-right:7px;
	color:#777777;
	font-family:Arial, Helvetica, sans-serif;
}
.arrow-right{
	background-image:url(../images/down-arrow-button.png);
	width:13px;
	height:11px;
	float:right;
	margin-right:5px;
}
.cross-icon{
	background-image:url(../images/cross-icon.png);
	width:16px;
	height:16px;
    margin-right:5px;
}
.next-button-previous-button-wrapper{
	margin-top:10px;
	height:30px;
	background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjM2U0ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #c3e4f7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#c3e4f7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#c3e4f7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#c3e4f7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#c3e4f7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#c3e4f7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c3e4f7',GradientType=0 ); /* IE6-8 */
border:solid 1px   #D8D8D8;
}
.previous_button{
	background-image:url(../images/previous-button.png);
	width:20px;
	height:18px;
	border:0px;
}
.previous_button2{
	background-image:url(../images/previous-button2.png);
	width:18px;
	height:18px;
	border:0px;
}
.next-button{
	background-image:url(../images/next-button.png);
	width:18px;
	height:18px;
	border:0px;
}
.next-button2{
	background-image:url(../images/next-button2.png);
	width:18px;
	height:18px;
	border:0px;
}
.table-pre-next-button{
	line-height:24px;
	margin-left:10px;
	float:left;
}
.item-ninepages{
	line-height:30px;
	float:right;
	font-size:12px;
	margin-right:20px;
}
.total-info-left-form{
	padding:0px 5px 10px 5px;
	margin-top:10px;
	margin-right:22px;
	float:right;
	width:84.8%;
	min-height:40px;
	background:#FBFBFB;
	-webkit-border-radius: 8px;
   -moz-border-radius: 8px;
    border-radius: 8px;
	border:1px solid   #D8D8D8;
}
.form_text_d2{
	font-size:11px;
	font-family:Geneva, sans-serif;
}
.input_t2{
	border:solid 1px   #D8D8D8;
	width:50px;
	background-color:#e9e9e8;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
    
}
.input_t2:focus {
   background-color:#e9e9e8;
  -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
}
.bottom-border{
	float:left;
	margin-left:-7px;
}
/*country-start-css*/
.country-sales-information-table-wrapper{
	margin-left:130px;
	float:left;
	margin-top:10px;
	width:61.5%;
}
#table-border-country-right-bottom {
	font-weight:bold;
	color:#777777;
	background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjM2U0ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #c3e4f7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#c3e4f7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#c3e4f7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#c3e4f7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#c3e4f7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#c3e4f7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c3e4f7',GradientType=0 ); /* IE6-8 */
	font-size:12px;
	padding-top:5px;
	padding-bottom:5px;
	border-top:  #D8D8D8 0px solid;
	border-left:  #D8D8D8 0px solid;
	border-right:  #D8D8D8 0px solid;
	border-bottom:  #D8D8D8 0px solid;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:15px;
}
#table-country-border-bottom {
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	font-size:12px;
	color:#777777;
	background-color:#f5f5f5;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:15px;
}
#table-country-border-bottom-left {
	background-color:#f5f5f5;
	border-bottom:#D8D8D8 1px solid;
	border-right:#D8D8D8 1px solid;
	border-left:#D8D8D8 1px solid;
	border-top:#D8D8D8 0px solid;
	font-size:12px;
	color:#777777;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:18px;
}


.new-country-left-form{
	padding:0px 5px 10px 5px;
	margin-top:10px;
	margin-left:130px;
	float:left;
	width:60.5%;
	min-height:40px;
	background:#FBFBFB;
	-webkit-border-radius: 8px;
   -moz-border-radius: 8px;
    border-radius: 8px;
	border:1px solid   #D8D8D8;
}
.form-new-country{
	text-align:left;
	font-size:12px;
	font-family:Geneva, sans-serif;
    color:#777777;
	width:159px;
	height:23px;
}
.input_country{
	border:solid 1px   #D8D8D8;
	width:180px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
    border: 1px solid #d8d8d8;
    border-radius: 4px 4px 4px 4px;
    
}

.input_country:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
}
.input_code{
	border:solid 1px #D8D8D8;
	width:90px;
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
	border: 1px solid #d8d8d8;
    border: 1px solid #d8d8d8;
    border-radius: 4px 4px 4px 4px;
    
}

.input_code:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
}
.cancel-save-button{
	padding-top:12px;
}



.collection2{
	background-image:url(../images/collection.png);
	width:28px;
	height:28px;
	border:0px;
	float:right;
	cursor:pointer;
}
.date_picker_icon{
	background-image:url("/content/themes/base/images/date_picker_icon.png");
	width:19px;
	height:19px;
	border:0px;
	margin-left:8px;
}	

.collection-border{
	
	width:21px;
	float:right;
	margin-right:8px;
}


/*set-up-new-product-css-start*/
.tab-wrapper-set-upnewproduct-wrapper{
	float:right;
	margin-right:12px!important;
	border:1px solid   #D8D8D8;
	width:97%;
	margin-top:5px;
}

.set-up-newproduct-form-wrapper{
	margin-top:0px;
	min-height:80px;
    background:none;
	float:left;
	width:98%;
	margin-bottom:15px;
}
.additional-classification-form{
	float:right;
	margin-right:5px;
	width:98%;
	min-height:40px;
	margin-top:-10px;
}
.inventory-left-table-box{
	width:30%;
	background-color:none;
	min-height:40px;
	margin-top:-23px;
	
}

.attachment-right-table-box{
	margin-top:-105px;
	float:left;
	background-color:none;
	min-height:40px;
}

.select_box_additional{
    border:solid 1px #D8D8D8;
	width:190px;
    webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
    
}



.input_hscode{
	border:solid 1px #D8D8D8;
	width:100%;

	border: 1px solid #d8d8d8;
}
/*.input_hscode:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
   background-color:#ffffff;
}*/
.input_partcode{
	border:solid 1px #D8D8D8;
	width:207px;
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
	border: 1px solid #d8d8d8;
}
.input_partcode:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
   background-color:#ffffff;
}

.form-subgroup {
	font-size:12px;
	height:23px;
	font-family:Geneva, sans-serif;
    color:#777777;

}
.form-subgroup2 {
    width:130px;
	font-size:11px;
	height:23px;
	font-family:Geneva, sans-serif;
    color:#777777;
}

.input_height{
	border:solid 1px   #D8D8D8;
	width:90px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
    
}
.input_height:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
   background-color:#ffffff;
}



.new-product-table-wrapper{
	width:100%;
	/*margin-right:80px;*/
	float:right;
	margin-top:10px;
    font-size: 12px;
    -webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
background-color:#fbfbfb;
border-top:0px solid #D8D8D8;
border-bottom:1px solid #D8D8D8;
border-left:1px solid #D8D8D8;
border-right:1px solid #D8D8D8;
    }
 
   
.bottom-table-wrapper{
	width:97%;
	margin-right:80px;
	float:right;
	margin-top:10px;
    font-size: 12px;
    -webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
background-color:#fbfbfb;
border-top:1px solid #D8D8D8;
border-bottom:1px solid #D8D8D8;
border-left:1px solid #D8D8D8;
border-right:1px solid #D8D8D8;
    }
    
    
 .deliver_datewraper{
	width:100%;
	/*margin-right:80px;*/
	float:right;
    font-size: 12px;
    }
    
    .middle_deliver_datewraper{
	width:97%;
	margin-right:80px;
	float:right;
	margin-top:7px;
    font-size: 12px;
    -webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
background-color:#fbfbfb;
border-top:1px solid #D8D8D8;
border-bottom:1px solid #D8D8D8;
border-left:1px solid #D8D8D8;
border-right:1px solid #D8D8D8;
/*padding-bottom:6px;
padding-top:2px;*/
    }
.
.product-image{
	margin-top:-94px;
}
.browse-button{
	margin-top:0px;
	margin-left:42px;
}


.select-button-margin{
	margin-top:7px;
	margin-left:-65px;
}
.button-wrapper{
    margin-top:7px;
	margin-left:25px;
	float:left;
	margin-left:16.2%;
}
.addition-margin{
	margin-left:5px;
}
.table-wrapper{
	float:right;
	margin-left:50px;
}

/*start_css*/

.wrap_datefrom{
   width:100%;
}
.wrap_datepicker{
   width:366px;
   background-color:#ffffff;
   margin-left:17.2%;
}

.input_date{
	border:solid 1px #D8D8D8;
	width:70%;
	border: 1px solid #d8d8d8;
}
/*.input_date:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
   background-color:#ffffff;
}*/

.wrap_dateconfactionary{
    background-image: url("../images/bg.png");
   width:50%;
   min-height:80px;
   position: absolute;
   width: 67%;
   margin-top:4px;
  /* margin-left:-6px;*/
   padding-left:3.9%;
}

#cell-border-confactionary{
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	font-size:11px;
	color:#777777;
	/*background-color:#f5f5f5;*/
	font-family:Arial, Helvetica, sans-serif;
	height:22px;
	/*padding-left:2px;
	padding-right:2px;*/
}
#cell-border-confactionary-left {
	background-color:#f5f5f5;
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 1px solid;
	border-top:  #D8D8D8 0px solid;
	font-size:12px;
	padding-left:2px;
	color:#777777;
	font-family:Arial, Helvetica, sans-serif;
	 background-image: url("../images/bg.png");
	 width:23.5%;
}
.addbutton_wrap{
   width:99.8%;
   min-height:16px!important;
   background-color:#0000000;
   border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 1px solid;
	border-top:  #D8D8D8 0px solid;}
	
.button_bottom-wrapper{
    margin-top:15px;
	float:left;
	width:100%;
}


.input_readonly{
	border:solid 1px #D8D8D8;
	width:100%;
	border: 0px solid #d8d8d8;
	height:20px;
	font-size:11px;
	background-color: #E0DFE1;
}
.input_text{
	width:94%;
	height:20px;
	font-size:11px;
	border:0px;
	/*background-image: url("../images/bg.png");*/
	background-color: #FFFFFF;
}
.input_text_br{
	width:96.5%;
	height:20px;
	font-size:11px;
	border:0px;
	/*background-image: url("../images/bg.png");*/
	background-color: #FFFFFF;
}

.input_readonly_total{
	border:solid 1px #D8D8D8;
	width:100%;
	border: 0px solid #d8d8d8;
	height:20px;
	font-size:11px;
	font-weight:bold;
	/*color: #00ff00;*/
	background-color: #E0DFE1;
	
}


.button_add{
    text-decoration:none;
	margin-left:2px;
}

.save-close-button{
    width:180px;
	min-height:35px;
	background-color:none;
	margin:0 auto;
}
.cell_width{
   width:70px;
}
/*end_css*/
.outlet_css{
   width:17%;
}


 #table-border-bottom-left_grid {
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 0px solid;
	border-left:  #D8D8D8 1px solid;
	border-top:  #D8D8D8 0px solid;
	font-size:12px;
	padding-left:0px;!important
	color:#777777;
	font-family:Arial, Helvetica, sans-serif;
}

}



@media (min-width: 768px) and (max-width: 979px){
/*body-start*/
body{
	background-color:#ffffff;
    margin:auto;
    padding:auto;
    font-family:Geneva,sans-serif;
    color:#777777;
	background-image:url('/content/themes/base/images/bg.png');
	 
}
.wrapper{
    /* width:1348px;*/
	 /*width:100%;*/
	 margin-left:auto;
     margin-right:auto;
	 min-height:400px;
	 position:absolute;
 }
 .wrapper-container{
	 float:left;
	 width:100%;
	 min-height:200px;
	 background-image:url('/content/themes/base/images/bg.png');
	
}



.search-bottom-header{
	color:#777777;
	height:20px;
	padding-bottom:3px;
	border-bottom:solid 0px   #D8D8D8;
	margin-top:5px;
	font-size:16px;
	font-family:serif;
	font-weight:normal;
	margin-left:5px;
	background:url(../images/sidebar-border-template.png) no-repeat left bottom;
}
.right-sidebar-header{
	color:#777777;
	height:20px;
	padding-bottom:3px;
	border-bottom:solid 0px   #D8D8D8;
	margin-top:5px;
	margin-bottom:3px;
	font-size:18px;
	font-family:serif;
	font-weight:normal;
	margin-left:5px;
    padding-bottom:8px;
	background:url(../images/sidebar-separator-header.png) no-repeat left bottom;
}
.descri{
	margin-left:5px;
}
.height{
	width:350px;
	height:10px;
	float:left;
}
.height-midd{
	width:350px;
	height:25px;
	float:left;
}

.customer-info-middle-side-form{
	float:right;
	width:27%;
	min-height:200px;
	border-right:solid 0px #D8D8D8;
    border-left:solid 1px #D8D8D8;
	border-top:solid 0px #D8D8D8;
	border-bottom:solid 0px #D8D8D8;
	padding:5px 5px 5px 5px;
	background-color:none;
}
.custo-info-right-form{
	float:left;
	width:90%;
	min-height:40px;
	-webkit-border-radius: 8px;
   -moz-border-radius: 8px;
    border-radius: 8px;
	background-color:none;
	border:  #D8D8D8 solid 0px;
	background:none;
	behavior: url(ie-css3.htc);
}
.form_text1 {
	margin-right:30px;
	text-align:left;
	font-size:11px;
	font-family:Geneva, sans-serif;
    color:#777777;
	height:23px;
	width:45%;
}
.form_text {
	width:100px;
	font-size:11px;
	height:23px;
	font-family:Geneva, sans-serif;
    color:#777777;
}
.form_text_texrarea {
	width:170px;
	font-size:11px;
	height:23px;
	font-family:Geneva, sans-serif;
    color:#777777;
}
.form_text_conversion {
	width:80px;
	font-size:11px;
	height:23px;
	font-family:Geneva, sans-serif;
    color:#777777;
}
.form_text_status {
	width:100px;
	font-size:11px;
	font-family:Georgia, "Times New Roman", Times, serif;
	height:23px;
	font-family:Geneva, sans-serif;
    color:#777777;
}
.form_text_delivery-date {
	width:100px;
	font-size:12px;
	font-family:Geneva, sans-serif;
    color:#777777;
	height:25px;
}
.input-test {
    border:solid 1px   #D8D8D8;
	width:228px;
	background-color:#e9e9e8;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
     border-radius: 4px;
}

.input {
    border:solid 1px   #D8D8D8;
	width:100%;
	background-color:#e9e9e8;
	border: 1px solid #d8d8d8;
    border-radius: 4px 4px 4px 4px;
   
}
.input:focus {
   background-color:#e9e9e8;
  -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
}

.table-box-custo-infor{
	width:100%;
	min-height:20px;
	background-color:none;
}
.table-box-custo{
	width:100%;
	min-height:20px;
	background-color:none;
}
.table-box{
	background-color:none;
	margin-top:10px;
	margin-left:0px;
}
.select-box_delivery{
	width:100%;
	border:solid 1px   #D8D8D8;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
   
}

/*.input_date:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
   background-color:#ffffff;
}*/

.datepicker{
	background-image:url(../images/datepicker.png);
	width:19px;
	height:19px;
	cursor:pointer;
	border:0px;
}

.side-bar-border{
	background-image:url(../images/side-bar-border.png);
	width:24px;
	height:3px;
}

.Search-button{
	 
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 1px;
    min-width: 75px;
    padding: 5px;
	margin-left:10px;
	
	background: #f0f0f0; /* Old browsers */
background: -moz-linear-gradient(top,  #f0f0f0 0%, #fbfbfb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#fbfbfb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f0f0f0 0%,#fbfbfb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f0f0f0 0%,#fbfbfb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f0f0f0 0%,#fbfbfb 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f0f0f0 0%,#fbfbfb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-9 */

	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px; 
    color:#666666; 
    
}
.Search-button:hover{
	margin-left:10px;
    background-color: #9a9a9a;
    border-color: #bbbbbb;
    border-style: solid;
    border-width: 1px;
    min-width: 75px;
    padding: 5px;
	color:#666666;
	 background: #e2dfd7; /* Old browsers */
background: -moz-linear-gradient(top,  #e2dfd7 0%, #f7f6f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2dfd7), color-stop(100%,#f7f6f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e2dfd7 0%,#f7f6f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e2dfd7 0%,#f7f6f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e2dfd7 0%,#f7f6f5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e2dfd7 0%,#f7f6f5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2dfd7', endColorstr='#f7f6f5',GradientType=0 ); /* IE6-9 */

-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;

    
}
.save-button{
	/*background-image:url(../images/package_button.png);*/
	background-image:url(../images/button_add.png);
	width:70px;
	border:1px solid #D8D8D8;
	padding-top:3px;
	padding-bottom:3px;	
	margin-top:-10px;
	color:#000000;
	cursor:pointer;
   -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
    
}
#save-button:hover{
	background: #e2dfd7; /* Old browsers */
background: -moz-linear-gradient(top,  #e2dfd7 0%, #f7f6f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2dfd7), color-stop(100%,#f7f6f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e2dfd7 0%,#f7f6f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e2dfd7 0%,#f7f6f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e2dfd7 0%,#f7f6f5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e2dfd7 0%,#f7f6f5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2dfd7', endColorstr='#f7f6f5',GradientType=0 ); /* IE6-9 */
	width:70px;
	border:1px solid #929aa5;
	padding-top:3px;
	padding-bottom:3px;	
	margin-top:-10px;
	color:#000000;
	cursor:pointer;
   -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
    
}
.more-button{
	 margin-top:3px;
	text-align:right;
}
.more-text{
	font-size:12px;
	text-decoration:none;
	color:#777777;
	font-family:Georgia,serif;
}
.more-text:hover{
	color:red;
}
.more-text1{
	font-size:12px;
	text-decoration:none;
	color:#0578FF;
	font-family:Geneva, sans-serif;
}
.more-text1:hover{
	color:#777777;
}
#button{
	background-image:url(../images/more-button.png);
	width:59px;
	height:22px;
	padding-bottom:3px;
	border:0px;
	margin-button:20px;
	cursor:pointer;
	color:#ffffff;
	font-weight:normal;
	-webkit-border-radius:10px;
    -moz-border-radius:10px;
     border-radius:10px;
}
#button:hover{
	background-image:url(../images/more-button-hover.png);
	width:59px;
	height:22px;
	padding-bottom:3px;
	border:0px;
	margin-button:20px;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	-webkit-border-radius:10px;
    -moz-border-radius:10px;
     border-radius:10px;
}
/*custo-info-right-form-end-css*/
/*coustomer-information-wrapper-css-end*/
/*right-sidebar-css-start*/
.right-sidebar-wrapper{
	padding-top:9px;
	float:right;
	width:28px;
	background-image:url(../images/sidebar-bg.png); 
    border-right:solid 1px #D8D8D8;
    border-left:solid 1px #D8D8D8;
    border-top:solid 1px #D8D8D8;
    border-bottom:solid 1px #D8D8D8;
   -webkit-border-top-left-radius:8px;
   -webkit-border-bottom-left-radius:8px;
   -moz-border-radius-topleft:8px;
   -moz-border-radius-bottomleft:8px;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    height:500px;
	margin-top:50px;
}
.sidebar-template-wrapper{
	float:right;
	padding-top:7px;
	background-color:none;
	border-bottom:#D8D8D8 solid 0px;
	margin-bottom:2px;
}

.jquery-button-div{
	margin-left:4px;
	
}
.img-div{
	margin-top:5px;
	margin-bottom:5px;
}
h3{ margin-left:3px;
    margin-top:-1px;
    margin-right:4px;
    padding:4px 0 7px 4px;
	font-size:12px;
    border-bottom:solid 1px   #D8D8D8;
	font-family:Georgia,serif;
	color:#777777;
}
.height-side{
	width:100%;
	height:13px;
}
.right-sidebar-template-box{
	margin-top:-1px;
	margin-left:0px;
	background:#FBFBFB;
	width:210px;
	min-height:100px;
	padding:0px 6px 6px 6px;
	border:solid 1px   #D8D8D8;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
     border-radius: 8px;
}
p{
	text-align:justify;
	font-size:10px;
	line-height:15px;
    margin-top:-40px;
	margin:0px 5px 0 5px;
	font-family:Geneva, sans-serif;
}
.height-side-header{
	width:100%;
	height:1px;
}

ul{
	list-style-type:none;
	padding:0px;
	margin-top:-8px;
	margin-left:14px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#777777;
}
#help-list-item{
	line-height:19px;
	list-style:none;
	font-size:11px;
	padding-left:20px;
	background-image:url(../images/bullet.png);
	background-repeat:no-repeat;
	background-position:0px 5px;
}
.customer{
	margin-left:3px;
}

/*product-description-css-start-table*/
#table-border {
	border-top:#D8D8D8 0px solid;
	border-left:#D8D8D8 0px solid;
	border-right:#D8D8D8 0px solid;
	border-bottom:#D8D8D8 0px solid;
}
#table-border-right-bottom {
	font-weight:bold;
	color:#777777;
	/*background: #ffffff; */
	font-size:12px;
	border-top:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 0px solid;
	border-bottom:  #D8D8D8 1px solid;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}
#table-border-right-bottom2 {
	font-weight:bold;
	color:#777777;
	/*background: #ffffff; */
	font-size:12px;
	border-top:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	border-bottom:  #D8D8D8 1px solid;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}
#table-border-bottom {
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	font-size:12px;
	color:#777777;
	/*background-color:#f5f5f5;*/
	font-family:Arial, Helvetica, sans-serif;
	height:22px;
	/*padding-left:6px;*/
}
#table-border-bottom3{
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	font-size:12px;
	color:#777777;
	/*background-color:#f5f5f5;*/
	font-family:Arial, Helvetica, sans-serif;
	height:22px;
	/*padding-left:6px;*/
}
#table-border-bottom-left {
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 1px solid;
	border-top:  #D8D8D8 0px solid;
	font-size:12px;
	padding-left:7px;
	padding-right:7px;
	color:#777777;
	font-family:Arial, Helvetica, sans-serif;
}
.arrow-right{
	background-image:url(../images/down-arrow-button.png);
	width:13px;
	height:11px;
	float:right;
	margin-right:5px;
}
.cross-icon{
	background-image:url(../images/cross-icon.png);
	width:16px;
	height:16px;
    margin-right:5px;
}
.next-button-previous-button-wrapper{
	margin-top:10px;
	height:30px;
	background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjM2U0ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #c3e4f7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#c3e4f7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#c3e4f7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#c3e4f7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#c3e4f7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#c3e4f7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c3e4f7',GradientType=0 ); /* IE6-8 */
border:solid 1px   #D8D8D8;
}
.previous_button{
	background-image:url(../images/previous-button.png);
	width:20px;
	height:18px;
	border:0px;
}
.previous_button2{
	background-image:url(../images/previous-button2.png);
	width:18px;
	height:18px;
	border:0px;
}
.next-button{
	background-image:url(../images/next-button.png);
	width:18px;
	height:18px;
	border:0px;
}
.next-button2{
	background-image:url(../images/next-button2.png);
	width:18px;
	height:18px;
	border:0px;
}
.table-pre-next-button{
	line-height:24px;
	margin-left:10px;
	float:left;
}
.item-ninepages{
	line-height:30px;
	float:right;
	font-size:12px;
	margin-right:20px;
}
.total-info-left-form{
	padding:0px 5px 10px 5px;
	margin-top:10px;
	margin-right:22px;
	float:right;
	width:84.8%;
	min-height:40px;
	background:#FBFBFB;
	-webkit-border-radius: 8px;
   -moz-border-radius: 8px;
    border-radius: 8px;
	border:1px solid   #D8D8D8;
}
.form_text_d2{
	font-size:11px;
	font-family:Geneva, sans-serif;
}
.input_t2{
	border:solid 1px   #D8D8D8;
	width:50px;
	background-color:#e9e9e8;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
    
}
.input_t2:focus {
   background-color:#e9e9e8;
  -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
}
.bottom-border{
	float:left;
	margin-left:-7px;
}
/*country-start-css*/
.country-sales-information-table-wrapper{
	margin-left:130px;
	float:left;
	margin-top:10px;
	width:61.5%;
}
#table-border-country-right-bottom {
	font-weight:bold;
	color:#777777;
	background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjM2U0ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #c3e4f7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#c3e4f7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#c3e4f7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#c3e4f7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#c3e4f7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#c3e4f7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c3e4f7',GradientType=0 ); /* IE6-8 */
	font-size:12px;
	padding-top:5px;
	padding-bottom:5px;
	border-top:  #D8D8D8 0px solid;
	border-left:  #D8D8D8 0px solid;
	border-right:  #D8D8D8 0px solid;
	border-bottom:  #D8D8D8 0px solid;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:15px;
}
#table-country-border-bottom {
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	font-size:12px;
	color:#777777;
	background-color:#f5f5f5;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:15px;
}
#table-country-border-bottom-left {
	background-color:#f5f5f5;
	border-bottom:#D8D8D8 1px solid;
	border-right:#D8D8D8 1px solid;
	border-left:#D8D8D8 1px solid;
	border-top:#D8D8D8 0px solid;
	font-size:12px;
	color:#777777;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:15px;
}


.new-country-left-form{
	padding:0px 5px 10px 5px;
	margin-top:10px;
	margin-left:130px;
	float:left;
	width:60.5%;
	min-height:40px;
	background:#FBFBFB;
	-webkit-border-radius: 8px;
   -moz-border-radius: 8px;
    border-radius: 8px;
	border:1px solid   #D8D8D8;
}
.form-new-country{
	text-align:left;
	font-size:12px;
	font-family:Geneva, sans-serif;
    color:#777777;
	width:159px;
	height:23px;
}
.input_country{
	border:solid 1px   #D8D8D8;
	width:180px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
    border: 1px solid #d8d8d8;
    border-radius: 4px 4px 4px 4px;
    
}

.input_country:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
}
.input_code{
	border:solid 1px #D8D8D8;
	width:90px;
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
	border: 1px solid #d8d8d8;
    border: 1px solid #d8d8d8;
    border-radius: 4px 4px 4px 4px;
    
}

.input_code:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
}
.cancel-save-button{
	padding-top:12px;
}



.collection2{
	background-image:url(../images/collection.png);
	width:28px;
	height:28px;
	border:0px;
	float:right;
	cursor:pointer;
}
.date_picker_icon{
	background-image:url("/content/themes/base/images/date_picker_icon.png");
	height:19px;
	border:0px;
	margin-left:8px;
}	

.collection-border{
	
	width:21px;
	float:right;
	margin-right:8px;
}


/*set-up-new-product-css-start*/
.tab-wrapper-set-upnewproduct-wrapper{
	float:right;
	margin-right:12px!important;
	border:1px solid   #D8D8D8;
	width:97%;
	margin-top:5px;
}

.set-up-newproduct-form-wrapper{
	margin-top:0px;
	min-height:80px;
    background:none;
	float:left;
	width:98%;
	margin-bottom:15px;
}
.additional-classification-form{
	float:right;
	margin-right:5px;
	width:98%;
	min-height:40px;
	margin-top:-10px;
}
.inventory-left-table-box{
	width:30%;
	background-color:none;
	min-height:40px;
	margin-top:-23px;
	
}

.attachment-right-table-box{
	margin-top:-105px;
	float:left;
	background-color:none;
	min-height:40px;
}

.select_box_additional{
    border:solid 1px #D8D8D8;
	width:190px;
    webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
    
}



.input_hscode{
	border:solid 1px #D8D8D8;
	width:100%;

	border: 1px solid #d8d8d8;
}
/*.input_hscode:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
   background-color:#ffffff;
}*/
.input_partcode{
	border:solid 1px #D8D8D8;
	width:207px;
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
	border: 1px solid #d8d8d8;
}
.input_partcode:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
   background-color:#ffffff;
}

.form-subgroup {
	font-size:12px;
	height:23px;
	font-family:Geneva, sans-serif;
    color:#777777;

}
.form-subgroup2 {
    width:130px;
	font-size:11px;
	height:23px;
	font-family:Geneva, sans-serif;
    color:#777777;
}

.input_height{
	border:solid 1px   #D8D8D8;
	width:90px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #d8d8d8;
    
}
.input_height:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
   background-color:#ffffff;
}



.deliver_datewraper{
	width:100%;
	/*margin-right:12px;*/
	float:right;
	margin-top:0px;  
}

.new-product-table-wrapper{
	width:100%;
	/*margin-right:12px;*/
	float:right;
	margin-top:0px;
}

.bottom-table-wrapper{
	width:97%;
	margin-right:12px;
	float:right;
	margin-top:0px;
	-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
background-color:#fbfbfb;
border-top:1px solid #D8D8D8;
border-bottom:1px solid #D8D8D8;
border-left:1px solid #D8D8D8;
border-right:1px solid #D8D8D8;
padding-top:2px;
padding-bottom:6px;
}

.product-image{
	margin-top:-94px;
}
.browse-button{
	margin-top:0px;
	margin-left:42px;
}


.select-button-margin{
	margin-top:7px;
	margin-left:-65px;
}
.button-wrapper{
    margin-top:4px;
	margin-left:25px;
	float:left;
	margin-left:16.2%;
}
.addition-margin{
	margin-left:5px;
}
.table-wrapper{
	float:right;
	margin-left:50px;
}

/*start_css*/

.wrap_datefrom{
   width:100%;
}
.wrap_datepicker{
   width:366px;
   background-color:#ffffff;
   margin-left:17.2%;
}

.input_date{
	border:solid 1px #D8D8D8;
	width:70%;
	border: 1px solid #d8d8d8;
}
/*.input_date:focus {
   -moz-box-shadow: 0 0 2px 1px #40B5E2;
  -webkit-box-shadow: 0 0 2px 1px #40B5E2;
   box-shadow: 0 0 2px 1px #40B5E2;
   background-color:#ffffff;
}*/

.wrap_dateconfactionary{
    background-image: url("../images/bg.png");
   width:50%;
   min-height:80px;
   position: absolute;
   width: 67%;
   margin-top:4px;
  /* margin-left:-6px;*/
   padding-left:3.9%;
}

#cell-border-confactionary{
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	font-size:11px;
	color:#777777;
	/*background-color:#f5f5f5;*/
	font-family:Arial, Helvetica, sans-serif;
	height:22px;
	/*padding-left:2px;
	padding-right:2px;*/
}
#cell-border-confactionary-left {
	background-color:#f5f5f5;
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 1px solid;
	border-top:  #D8D8D8 0px solid;
	font-size:12px;
	padding-left:2px;
	color:#777777;
	font-family:Arial, Helvetica, sans-serif;
	 background-image: url("../images/bg.png");
	 width:23.5%;
}
.addbutton_wrap{
   width:99.8%;
   min-height:16px!important;
   background-color:#0000000;
   border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 1px solid;
	border-left:  #D8D8D8 1px solid;
	border-top:  #D8D8D8 0px solid;}
	
.button_bottom-wrapper{
    margin-top:15px;
	float:left;
	width:100%;
}


.input_readonly{
	border:solid 1px #D8D8D8;
	width:100%;
	border: 0px solid #d8d8d8;
	height:20px;
	font-size:11px;
	background-color: #E0DFE1;
}
.input_text{
	width:96%;
	height:20px;
	font-size:11px;
	border:0px;
	/*background-image: url("../images/bg.png");*/
	background-color: #FFFFFF;
}
.input_text_br{
	width:96.5%;
	height:20px;
	font-size:11px;
	border:0px;
	/*background-image: url("../images/bg.png");*/
	background-color: #FFFFFF;
}

.input_readonly_total{
	border:solid 1px #D8D8D8;
	width:97%;
	border: 0px solid #d8d8d8;
	height:20px;
	font-size:11px;
	font-weight:bold;
	/*color: #00ff00;*/
	background-color: #E0DFE1;
	
}


.button_add{
    text-decoration:none;
	margin-left:2px;
}

.save-close-button{
    width:180px;
	min-height:35px;
	background-color:none;
	margin:0 auto;
}
.cell_width{
   width:70px;
}
/*end_css*/
.outlet_css{
   width:17%;
}

 #table-border-bottom-left_grid {
	border-bottom:  #D8D8D8 1px solid;
	border-right:  #D8D8D8 0px solid;
	border-left:  #D8D8D8 1px solid;
	border-top:  #D8D8D8 0px solid;
	font-size:11px;
	padding-left:0px!important;
	color:#777777;
	font-family:Arial, Helvetica, sans-serif;
}

#table-border-bottom-left_plus {
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 0 1px 1px 0;
    color: #777777;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    padding-left:8px;
}

}

							   
							   														   						
					  						  			  						   						 